# Installing Libraries

In [ ]:
#!pip install pandas_datareader

In [ ]:
#!pip install yfinance

In [ ]:
#!pip install regex

In [ ]:
#!pip install flask-sqlalchemy

In [ ]:
#!pip install SQLAlchemy

In [ ]:
#!pip install yfinance --upgrade --no-cache-dir

In [ ]:
#!pip install pymysql

In [ ]:
#!pip install python-dotenv

In [ ]:
#!pip install Unidecode

In [ ]:
#!pip install html5lib

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
#from unidecode import unidecode
import re
import os
import yfinance as yf
from time import sleep
import glob
import regex as re
import datetime
import sqlalchemy as db
from dotenv import load_dotenv
from datetime import timedelta

In [2]:
# Defining file's path
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\Ironhack_Final_Project\data/'
# Historical dataset is to big to upload to GitHub
stock_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\stock_project_datasets/'
# Logging path
logging_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\stock_project_datasets\Logging/'

# Gathering Data - Brazilian Companies

### List of brazilian companies and composition of indexes - Ibovespa, IBrX100, IBrX50, IBrA

## Selenium

Used to get list of companies in brazilian's index

### Configurating WebDriver

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

### Configurating download file

In [ ]:
chromeOptions = webdriver.ChromeOptions()
download_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project\data'
prefs = {"download.default_directory" : download_path}
chromeOptions.add_experimental_option("prefs",prefs)

In [ ]:
#Runs the webdriver
driver = webdriver.Chrome(options=chromeOptions)

### Download Index File (.csv)

In [ ]:
def get_index_stocks(index, wait=6):
    '''
        Receives the Index name, download a file that contains the index tickers, and return the name of the downloaded file
    '''

    # Chrome WebDriver opens the index webside
    url = f'https://sistemaswebb3-listados.b3.com.br/indexPage/day/{index.upper()}?language=pt-br'
    driver.get(url)
    driver.implicitly_wait(wait)

    driver.find_element(By.ID, 'segment').send_keys("Setor de Atuação")
    driver.implicitly_wait(wait)
    driver.find_element(By.LINK_TEXT, 'Download').click()
    driver.implicitly_wait(wait)

    # Set the directory
    os.chdir(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project\data')
    sleep(wait)

    # Get the .csv files from the selectec directory and sort them ascending by modification date 
    files = list(glob.glob('*csv'))
    files.sort(key=lambda x: os.path.getmtime(x), reverse=True)

    # Returns the name of the most recent file
    return files[0]

### Create the Index DataFrame

In [ ]:
def create_df(file):
    '''
        This function receives the name of the Stock Exchange index and returns a DataFrame with all companies and their respective sectors
    '''

    # Creating DataFrame
    DataFrame = pd.read_csv(file, 
                                encoding='ISO-8859-1',
                                header=1,                   # Uses line 1 as header
                                sep=';',                    
                                decimal=',',
                                thousands='.',
                                skipfooter=2,               # Removes last 2 lines
                                engine='python',
                                index_col=False)            # Does not make first column as index
    
    # Normalizing columns
    DataFrame.columns = [re.sub('[\.()]', '', re.sub(' ', '_', unidecode(columns.lower()))) for columns in DataFrame.columns]

    return DataFrame

## Creating Index's DataFrames

In [ ]:
# Defining file's path
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project\data/'
# Historical dataset is to big to upload to GitHub
stock_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\stock_project_datasets/'

In [ ]:
# Defining DataFrames' columns names
col_names = [
    'sector',
    'ticker',
    'name',
    'type',
    'amount',
    'percentage',
    'percentage_acum'
]

### Ibovespa

In [ ]:
ibov = create_df(get_index_stocks('ibov'))
len(ibov)

In [ ]:
ibov.columns = col_names

In [ ]:
# Save index file
ibov.to_csv(f'{path}IBOV.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
ibov = pd.read_csv(f'{path}IBOV.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.')

In [ ]:
ibov.shape

### IBrX100

In [ ]:
ibrx = create_df(get_index_stocks('ibxx'))
len(ibrx)

In [ ]:
ibrx.columns = col_names

In [ ]:
# Save index file
ibrx.to_csv(f'{path}IBRX100.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

### IBrX50

In [ ]:
ibrx50 = create_df(get_index_stocks('ibxl'))
len(ibrx50)

In [ ]:
ibrx50.columns = col_names

In [ ]:
# Save index file
ibrx50.to_csv(f'{path}IBRX50.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

### IBrA

In [ ]:
ibra = create_df(get_index_stocks('ibra'))
len(ibra)

In [ ]:
ibra.columns = col_names

In [ ]:
# Save index file
ibra.to_csv(f'{path}IBRA.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

## Checking companies that differ in the two indexes - Obsolete

In [ ]:
emp_ibrx = ibrx['codigo']
set_ibrx = set(emp_ibrx)
len(set_ibrx)

In [ ]:
emp_ibov = ibov['codigo']
set_ibov = set(emp_ibov)
len(set_ibov)

In [ ]:
emp_ibra = ibra['codigo']
set_ibra = set(emp_ibra)
len(set_ibra)

In [ ]:
print(len(set_ibra.difference(set_ibrx)))
print(set_ibra.difference(set_ibrx))

In [ ]:
print(len(set_ibov.difference(set_ibrx)))
print(set_ibov.difference(set_ibrx))

In [ ]:
print(len(set_ibrx.difference(set_ibov)))
print(set_ibrx.difference(set_ibov))

# Gathering Data - Brazilian Companies Historical Dataset - Obsolete (All data gathered from Yfinance)

### Create dataset concatenating historical datasets downloaded from B3 website with data from the companies listed in IBRA Index

## Create list with main companies ticker

In [ ]:
## Using companies in IBRA Index
codigo = list(set_ibra)

## Unzip files

In [ ]:
import zipfile
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\data_visualization\data/'

i = 1986

while i < 2000:
    with zipfile.ZipFile(f'{path}COTAHIST_A{i}.zip', 'r') as zip_ref:
        zip_ref.extractall(path)
    i +=1

## Rename files

In [ ]:
os.listdir()

In [ ]:
i = 2000

while i < 2022:
    os.rename(f'COTAHIST_A{i}.TXT', f'COTAHIST_A{i}.txt')
    i +=1

## Setting configurations to read B3 historical files

In [ ]:
pd.set_option('display.max_columns', 500)
pd.options.display.max_columns=500

In [ ]:
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\B3\txt/'

year = 2022

widths = [2,8,2,12,3,12,10,3,4,13,13,13,13,13,13,13,5,18,18,13,1,8,7,13,12,3]

col_names = [
"tipo_registro",
"data_pregao",
"cod_bdi",
"cod_negociacao",
"tipo_mercado",
"nome_empresa",
"especificacao_papel",
"prazo_dias_merc_termo",
"moeda_referencia",
"preco_abertura",
"preco_maximo",
"preco_minimo",
"preco_medio",
"preco_ultimo_negocio",
"preco_melhor_oferta_compra",
"preco_melhor_oferta_venda",
"numero_negocios",
"quantidade_papeis_negociados",
"volume_total_negociado",
"preco_exercicio",
"ìndicador_correcao_precos",
"data_vencimento" ,
"fator_cotacao",
"preco_exercicio_pontos",
"codigo_isin",
"num_distribuicao_papel"]

decimal_config=[
"preco_abertura",
"preco_maximo",
"preco_minimo",
"preco_medio",
"preco_ultimo_negocio",
"preco_melhor_oferta_compra",
"preco_melhor_oferta_venda",
"volume_total_negociado",
"preco_exercicio",
"preco_exercicio_pontos"
]


remains = [
"data_pregao",
"cod_negociacao",
"tipo_mercado",
"nome_empresa",
"preco_abertura",
"preco_maximo",
"preco_minimo",
"preco_medio",
"preco_ultimo_negocio",
]

In [ ]:
dataset = pd.DataFrame()

In [ ]:
'''     Concatenate DataFrames
year = 2022
while year > 1985:
    df = pd.read_fwf(f'{path}COTAHIST_A{year}.TXT',
                                    encoding='ISO-8859-1',
                                    header=0,
                                    widths=widths,
                                    skipfooter=1,
                                    engine='python',
                                    parse_dates=[1],
                                    infer_datetime_format=True,
                                    index_col=False)
    year -= 1

    #Definindo nomes das colunas
    df.columns = col_names

    #Corrigindo casas decimais
    for col in decimal_config:
        df[col]=df[col]/100

    #Selecionando colunas
    df = df[remains]
    
    #Mascara de empresas desejadas
    mask_empresas = df.cod_negociacao.isin(codigo)

    df = df[mask_empresas]

    dataset = pd.concat([dataset, df], ignore_index=True)
'''

## Export DF - Historical Series

In [ ]:
dataset.to_csv(f'{path}dataset_IBRA.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
pd.read_csv(f'{path}dataset_IBRA.csv',
                encoding='ISO-8859-1',
                sep=';',
                decimal='.',
                index_col=False
                )

# Gathering Data From Yahoo Finance

### Get historical series of brazilian and american indexes
### Get historical series of Gold, Bitcoin and Ethererum
### Get historical series of american companies

## Yahoo Finance

In [ ]:
# Set YFinance setting

symbol_list_br = ['^BVSP','^IBX50']
symbol_list_eua = ['^DJI','^IXIC','^GSPC','GC=F']
symbol_list_crypto = ['BTC-USD', 'ETH-USD']

name_dict={
    '^BVSP':'Ibovespa',
    '^IBX50':'IBrX50',
    '^DJI':'Dow Jones',
    '^IXIC':'NASDAQ',
    '^GSPC':'S&P 500',
    'GC=F':'Ouro ($)',
    'BTC-USD':'Bitcoin ($)',
    'ETH-USD':'Ethereum ($)'
}

col_names = ['date',
"open",
"high",
"low",
"close",
'cod_yfinance']

drop_col = ['Volume','Dividends','Stock Splits']

In [ ]:
# Create empty indexes DataFrames
'''
df_br = pd.DataFrame()
df_eua = pd.DataFrame()
df_crypto = pd.DataFrame()
'''

In [ ]:
# Fill brazilian indexes historical series dataset
'''
for ativo in symbol_list_br:
        chamada_api = yf.Ticker(ativo).history(period='max')
        chamada_api['cod_yfinace'] = ativo
        df_br = pd.concat([df_br, chamada_api])
'''

In [ ]:
# Tranform data from index to column 0
'''
df_br = df_br.drop(drop_col, axis = 1)
df_br.reset_index(inplace=True)
df_br['Date'] = df_br['Date'].dt.date
df_br.columns = col_names
df_br
'''

In [ ]:
# Put indexes names in the DF
df_br['name'] = df_br['cod_yfinance'].map(name_dict)

In [ ]:
# Reroder columns
df_br = df_br[['date','name','open','high','low','close','cod_yfinance']]

In [ ]:
# Save DataFrame
df_br.to_csv(f'{path}index_br.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Read DataFrame
index_br = pd.read_csv(f'{path}index_br.csv',
                    sep = ';',
                    decimal = '.',
                    encoding='ISO-8859-1',
                    index_col=False
)

In [ ]:
index_br

In [ ]:
# Fill american indexes and gold historical series dataset
'''
for ativo in symbol_list_eua:
        chamada_api = yf.Ticker(ativo).history(period='max')
        chamada_api['cod_yfinance'] = ativo
        df_eua = pd.concat([df_eua, chamada_api])
'''

In [ ]:
# Tranform data from index to column 0
'''
df_eua = df_eua.drop(drop_col, axis = 1)
df_eua.reset_index(inplace=True)
df_eua['Date'] = df_eua['Date'].dt.date
df_eua.columns = col_names
df_eua
'''

In [ ]:
# Put indexes names in the DF
df_eua['name'] = df_eua['cod_yfinance'].map(name_dict)

In [ ]:
# Reorder columns
df_eua = df_eua[['date','name','open','high','low','close','cod_yfinance']]

In [ ]:
# Save DataFrame
df_eua.to_csv(f'{path}index_eua.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Read DataFrame
index_eua = pd.read_csv(f'{path}index_eua.csv',
                    sep = ';',
                    decimal = '.',
                    encoding='ISO-8859-1',
                    index_col=False)

In [ ]:
index_eua

In [ ]:
# Fill cripto historical series dataset
'''
for ativo in symbol_list_crypto:
        chamada_api = yf.Ticker(ativo).history(period='max')
        chamada_api['cod_yfinace'] = ativo
        df_crypto = pd.concat([df_crypto, chamada_api])
'''

In [ ]:
# Tranform data from index to column 0
'''
df_crypto = df_crypto.drop(drop_col, axis = 1)
df_crypto.reset_index(inplace=True)
df_crypto['Date'] = df_crypto['Date'].dt.date
df_crypto.columns = col_names
df_crypto
'''

In [ ]:
# Put indexes names in the DF
df_crypto['name'] = df_crypto['cod_yfinance'].map(name_dict)

In [ ]:
# Reorder columns
df_crypto = df_crypto[['date','name','open','high','low','close','cod_yfinance']]

In [ ]:
df_crypto.to_csv(f'{path}crypto.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
crypto = pd.read_csv(f'{path}crypto.csv',
                    sep = ';',
                    decimal = '.',
                    encoding='ISO-8859-1',
                    index_col=False)

In [ ]:
crypto

# Gathering Data - American Companies

### List of american companies and composition of indexes - S&P500, Dow Jones, Nasdaq

## S&P500

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

data = pd.read_html(url)

In [ ]:
data[0].head()

In [ ]:
sp500 = data[0].iloc[:,[0,1,3,4]]

In [ ]:
sp500.columns = ['ticker', 'name', 'sector', 'sub_industry']

In [ ]:
sp500

In [ ]:
sp500.to_csv(f'{path}SP500.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
sp500 = pd.read_csv(f'{path}SP500.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
sp500.shape

## Nasdaq

In [ ]:
url = 'https://en.wikipedia.org/wiki/Nasdaq-100'

data = pd.read_html(url)

In [ ]:
data[4]
nasdaq = data[4]
nasdaq

In [ ]:
nasdaq.columns = ['name','ticker', 'sector', 'sub_industry']

In [ ]:
nasdaq.to_csv(f'{path}NASDAQ.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
nasdaq = pd.read_csv(f'{path}NASDAQ.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
nasdaq.shape

## Dow Jones

In [ ]:
url = 'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average'

data = pd.read_html(url)

In [ ]:
data[1]
dow_jones = data[1].iloc[:,[0,2,3]]
dow_jones

In [ ]:
dow_jones.columns = ['name','ticker', 'sector']

In [ ]:
dow_jones.to_csv(f'{path}DOW_JONES.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
dow_jones = pd.read_csv(f'{path}DOW_JONES.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
dow_jones.shape

## Create DataFrame with all companies in american indexes

In [ ]:
emp_sp500 = sp500['ticker']
set_sp500 = set(emp_sp500)
len(set_sp500)

In [ ]:
emp_nasdaq = nasdaq['ticker']
set_nasdaq = set(emp_nasdaq)
len(set_nasdaq)

In [ ]:
# Companies in Nasdaq that aren't in sp500
print(len(set_nasdaq.difference(set_sp500)))
print(set_nasdaq.difference(set_sp500))
list_nasdaq = list(set_nasdaq.difference(set_sp500))
list_nasdaq

In [ ]:
# Create DF with all companies in both indexes
sp500_concat = pd.concat([sp500,nasdaq.loc[nasdaq['ticker'].isin(list_nasdaq)]], axis=0, ignore_index=True)

In [ ]:
sp500_concat

In [ ]:
# Save DF
sp500_concat.to_csv(f'{path}eua_all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

# Gathering Data - Company's Sector and Industry

### Get sector and sub-sector of all companies using WebScrapping on Yahoo Finance website

In [ ]:
ibra = pd.read_csv(f'{path}IBRA.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.')

ibra = ibra[['ticker','name','sector']]
ibra[['sector','sub_industry']] = np.nan

In [ ]:
ibra

In [ ]:
eua = pd.read_csv(f'{path}eua_all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
eua

In [ ]:
eua.isnull().sum()

In [ ]:
eua[eua['ticker'].str.contains(r'[^a-zA-Z0-9]')]

In [ ]:
# Replace '.' in S&P500 ticker to '-', in order to get the right ticker for yfinance webscrapping
eua['ticker'].replace(r'[^a-zA-Z0-9]', r'-', regex=True, inplace=True)

In [ ]:
#Runs the webdriver
driver = webdriver.Chrome(options=chromeOptions)

In [ ]:
index = 0
wait = 8

for i in eua['ticker']:
    # Get the Yfinance company's url
    url = f'https://finance.yahoo.com/quote/{i}/profile?p={i}'
    driver.get(url)
    driver.implicitly_wait(wait)

    # Get company's sector
    try:
        sector = driver.find_element(By.XPATH, '//*[@id="Col1-0-Profile-Proxy"]/section/div[1]/div/div/p[2]/span[2]')
        driver.implicitly_wait(wait)
        eua.loc[index, 'sector'] = sector.text
    except:
        pass

    # Get company's industry
    try:
        industry = driver.find_element(By.XPATH, '//*[@id="Col1-0-Profile-Proxy"]/section/div[1]/div/div/p[2]/span[4]')
        driver.implicitly_wait(wait)
        eua.loc[index, 'sub_industry'] = industry.text
    except:
        pass

    # Update index
    index +=1

### Checking if all companies in IBRA index have sector and industry

In [ ]:
ibra[ibra['sector'].isna()]

In [ ]:
ibra['sector'].unique()

In [ ]:
ibra[ibra['sector'] == '']

In [ ]:
ibra.loc[[149,151,200]]

In [ ]:
ibra.loc[149,('sector','sub_industry')] = ['Healthcare', 'Drug Manufacturers—Specialty & Generic']
ibra.loc[151,('sector','sub_industry')] = ['Healthcare', 'Drug Manufacturers—Specialty & Generic']
ibra.loc[200,('sector','sub_industry')] = ['Utilities', 'Utilities—Independent Power Producers']

In [ ]:
ibra.to_csv(f'{path}IBRA_sector.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
ibra = ibra.rename({'sub_industry':'industry'}, axis=1)

In [ ]:
ibra

In [ ]:
cod_yfinance = [f'{i}.SA' for i in ibra['ticker']]

In [ ]:
ibra['cod_yfinance'] = cod_yfinance

In [ ]:
ibra['country'] = 'Brazil'

In [ ]:
ibra

### Checking if all companies in eua DataFrame have sector and industry

In [ ]:
eua.isnull().sum()

In [ ]:
eua['sector'].unique()

In [ ]:
# Save Dataframe
eua.to_csv(f'{path}eua_all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
eua = eua.rename({'sub_industry':'industry'}, axis = 1)

In [ ]:
eua['cod_yfinance'] = eua['ticker']

In [ ]:
eua['country'] = 'USA'

In [ ]:
eua

# Updating IBRA dataset - Obsoleto - criar novo dataframe com series históricas retiradas do yfinace para todas as empresas

### (dataset that contains brazilian companies's historical data)

# Create Datasets

### Dataset that contains brazilian and american companies's characteristics
### Dataset that contains brazilian and american companies's historical data
### Dataset that contains brazilian and american indexes, gold, dolar (R$), bitcoin and ethereum  characteristics
### Dataset that contains brazilian and american indexes, gold, dolar (R$), bitcoin and ethereum  historical data

In [ ]:
# Historical dataset is to big to upload to GitHub
stock_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\stock_project_datasets/'

## Dataset with all companies's characteristics

In [ ]:
ibra.head()

In [ ]:
eua.head()

In [ ]:
all_companies = pd.concat([ibra, eua], axis=0, ignore_index=True)

In [ ]:
all_companies.to_csv(f'{stock_path}all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_rev4.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
all_companies

## Dataset with indexes, gold, dolar (R$), bitcoin and ethereum  characteristics

In [ ]:
index_ticker = [
    'IBOV'
    ,'IBRX50'
    ,'NASDAQ'
    ,'DOW JONES'
    ,'SP500'
    ,'GOLD'
    ,'BTC'
    ,'ETH'
    ,'USD-BRL'
]

index_name = [
    'Ibovespa'
    ,'IBrX50'
    ,'Nasdaq 100'
    ,'Dow Jones Industrial Average'
    ,'S&P 500'
    ,'Gold (US$)'
    ,'Bitcoin (US$)'
    ,'Ethereum (US$)'
    ,'Dolar (R$)'
]

index_sector = [
    'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Gold'
    ,'Crypto'
    ,'Crypto'
    ,'Currency'
]

index_industry = [
    'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Gold'
    ,'Crypto'
    ,'Crypto'
    ,'Currency'
]

index_cod = [
    '^BVSP'
    ,'^IBX50'
    ,'NQ=F'
    ,'^DJI'
    ,'^GSPC'
    ,'GC=F'
    ,'BTC-USD'
    ,'ETH-USD'
    ,'BRL=X'
]

index_country = [
    'Brazil'
    ,'Brazil'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'Brazil'
]

index_type = [
    'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Gold'
    ,'Crypto'
    ,'Crypto'
    ,'Currency'
]

In [ ]:
df_index = pd.DataFrame()
df_index['ticker'] = index_ticker
df_index['name'] = index_name
df_index['sector'] = index_sector
df_index['industry'] = index_industry
df_index['cod_yfinance'] = index_cod
df_index['country'] = index_country
df_index['type'] = index_type

In [ ]:
df_index

In [ ]:
df_index.to_csv(f'{stock_path}all_indexes.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

## Unificating characteristic datasets

In [ ]:
df_index

In [ ]:
all_companies

In [ ]:
all_companies_and_index = pd.concat([all_companies, df_index], axis=0, ignore_index=True)

In [ ]:
all_companies_and_index

In [ ]:
all_companies_and_index.to_csv(f'{stock_path}all_companies_and_indexes.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

## Dataset with all companies and indexes historical data

In [ ]:
# Create empty DataFrame
historical_data = pd.DataFrame()

In [ ]:
# Creating DataFrame with historical data of all companies
for ticker in all_companies_and_index['cod_yfinance']:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(period='max')
    aux_df['cod_yfinance'] = ticker

    historical_data = pd.concat([historical_data, aux_df], axis=0)

In [ ]:
historical_data

In [ ]:
# Check if got all companies historical data
len(historical_data['cod_yfinance'].unique())

In [ ]:
historical_data.info()

In [ ]:
# Drop 2022-12-12
historical_data = historical_data.drop(historical_data[historical_data['Date'] == datetime.date(2022,12,12)].index, axis=0)

In [ ]:
historical_data[historical_data['Date'] == datetime.date(2022,12,9)]

In [ ]:
# Save DataFrame
historical_data.to_csv(f'{stock_path}historical_data_complete_rev5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Load DataFrame
historical_data = pd.read_csv(f'{stock_path}historical_data_complete5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
#Transform index to column Date
historical_data.reset_index(inplace=True)

In [ ]:
# Transform date to datetime
historical_data['Date'] = pd.to_datetime(historical_data['Date'], utc=True)

In [ ]:
# Transform datetime to YYYY-MM-DD
historical_data['Date'] = historical_data['Date'].dt.date

In [ ]:
len(historical_data['cod_yfinance'].unique())

### Rounding values

In [ ]:
historical_data

In [ ]:
historical_data['Open'] = historical_data['Open'].round(3)
historical_data['High'] = historical_data['High'].round(3)
historical_data['Low'] = historical_data['Low'].round(3)
historical_data['Close'] = historical_data['Close'].round(3)
historical_data['Dividends'] = historical_data['Dividends'].round(3)

## Dataset with indexes, gold, dolar (R$), bitcoin and ethereum historical data - Obsolete

In [ ]:
# Create empty DataFrame
indexes_historical_data = pd.DataFrame()

In [ ]:
# Creating DataFrame with historical data of all companies
for ticker in df_index['cod_yfinance']:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(start='1927-12-30', end='2022-12-10')
    aux_df['cod_yfinance'] = ticker

    indexes_historical_data = pd.concat([indexes_historical_data, aux_df], axis=0)

In [ ]:
indexes_historical_data

In [ ]:
indexes_historical_data.to_csv(f'{stock_path}indexes_historical_data.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

# Working on companies sector and industry

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
all_companies['sector'].value_counts()

In [ ]:
all_companies['industry'].value_counts()

In [ ]:
all_companies['industry'] = all_companies['industry'].str.replace("—"," - ")

In [ ]:
all_companies[all_companies['industry'].str.contains('-')]

In [ ]:
agf = ['QUAL3'
,'VVBR3'
,'AESB3'
,'WIZS3'
,'BRAP3'
,'BRSR6'
,'BRKM5'
,'BRAP4'
,'BRKM3'
,'BRSR3'
,'CGAS5'
,'TRPL4'
,'VIVT3'
,'TAEE11'
,'TAEE4'
,'TAEE3'
,'CGAS3'
,'ITSA4'
,'CSMG3'
,'ENAT3'
,'ITSA3'
,'SANB11'
,'SANB3'
,'SANB4'
,'GRND3'
,'BRSR5'
,'TRPL3'
,'SAPR4'
,'SAPR3'
,'BBSE3'
,'CMIG4'
,'ALUP11'
,'CLSC3'
,'CMIG4'
,'ELET3'
,'BBAS3'
,'BBDC4'
,'ITUB4'
,'AMBP3'
,'CSAN3'
,'CSAN4'
,'OPCT3'
,'SBSP3'
,'SAPR11'
,'VERZ34'
,'OIBR4'
,'TIMS3'
,'VIVT4'
,'TELB4'
,'TELB3'
,'ATTB34'
]

In [ ]:
all_companies[all_companies['ticker'].isin(agf)]

In [ ]:
all_companies.loc[all_companies['name'].isin(companies)]

In [ ]:
all_companies.loc[(all_companies['name'].isin(companies)) | all_companies['ticker'].isin(agf)].shape

In [ ]:
# Perennial Industry
perennial=[
'Utilities - Diversified'
,'Utilities - Independent Power Producers'
,'Utilities - Regulated Electric'
,'Utilities - Regulated Gas'
,'Utilities - Regulated Water'
,'Utilities - Renewable'
,'Banks - Diversified'
,'Banks - Regional'
,'Insurance - Diversified'
,'Insurance - Life'
,'Insurance - Property & Casualty'
,'Insurance - Reinsurance'
,'Insurance - Specialty'
,'Insurance Brokers'
,'Healthcare Plans'
,'Telecom Services'
,'Waste Management'
,'Oil & Gas E&P'
,'Oil & Gas Equipment & Services'
,'Oil & Gas Integrated'
,'Oil & Gas Midstream'
,'Oil & Gas Refining & Marketing']

In [ ]:
# Perennial subsector
dict_subsector = {
'Utilities - Diversified' : 'Utilities - Electricity'
,'Utilities - Independent Power Producers' : 'Utilities - Electricity'
,'Utilities - Regulated Electric' : 'Utilities - Electricity'
,'Utilities - Regulated Gas' :	'Utilities - Gas'
,'Utilities - Regulated Water' : 'Sanitation'
,'Utilities - Renewable' : 'Utilities - Electricity'
,'Banks - Diversified' : 'Banks'
,'Banks - Regional' : 'Banks'
,'Insurance - Diversified': 'Insurance'
,'Insurance - Life' : 'Insurance'
,'Insurance - Property & Casualty' : 'Insurance'
,'Insurance - Reinsurance' : 'Insurance'
,'Insurance - Specialty' : 'Insurance'
,'Insurance Brokers' : 'Insurance'
,'Healthcare Plans' : 'Health Insurance'
,'Telecom Services' : 'Telecom'
,'Waste Management' : 'Sanitation'
,'Oil & Gas E&P' : 'Oil & Gas'
,'Oil & Gas Equipment & Services' : 'Oil & Gas'
,'Oil & Gas Integrated' : 'Oil & Gas'
,'Oil & Gas Midstream' : 'Oil & Gas'
,'Oil & Gas Refining & Marketing' : 'Oil & Gas'
}

In [ ]:
all_companies

In [ ]:
mask_perennial = all_companies['industry'].isin(perennial)

In [ ]:
# Indetify if the company is in a perennial sector
all_companies.loc[mask_perennial, 'perennial'] = 'Yes'
all_companies.loc[~mask_perennial, 'perennial'] = 'No'

In [ ]:
# Create a subsector for perennial companies
all_companies.loc[mask_perennial, 'perennial_subsector'] =  all_companies.loc[mask_perennial, 'industry'].map(dict_subsector)

In [ ]:
# If the company is not perennial, subsector = industry
all_companies.loc[~mask_perennial, 'perennial_subsector'] = all_companies.loc[~mask_perennial, 'industry']

In [ ]:
all_companies.isnull().sum()

In [ ]:
# Save modified DataFrame
all_companies_rev1.to_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
all_companies_rev2 = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev1.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

# Create SQL Database

In [16]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\05.Ironhack_Final_Project/password.env')
sql_password = os.getenv('sql_password')

In [17]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [18]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

Engine(mysql+pymysql://root:***@localhost/stocks_project)

In [53]:
# Create companies Dataset in SQL
all_companies.to_sql(name='companies', con=engine, if_exists='replace', index=False)

735

In [ ]:
# Create historical data dataset in SQL
historical_data.to_sql(name='historical_data', con=engine, if_exists='replace', index=False) ##if_exists=append

# Automate historical data dataset update process

## Testing yfinance historical data

In [121]:
def create_engine():
    """Create engine to connect to MySQL server

    Returns: 
        engine (sqlalchemy.engine): engine that connects to the stocks_project dataset on MySQL Server 
    """
    
    # Import sql_password
    load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\05.Ironhack_Final_Project/password.env')
    sql_password = os.getenv('sql_password')
    
    # Set SQL configurations
    user = "root"
    password = sql_password
    url_banco = "localhost"
    nome_db = "stocks_project"
    conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"  

    # Create engine object
    engine = db.create_engine(conn_str)
    logger.info('Connection to SQL - Successful')

    return engine

In [122]:
def add_days_to_date(date, days):
    """Add days to a date and return the date.
    
    Args: 
        date (string): Date string in YYYY-MM-DD format. 
        days (int): Number of days to add to date
    
    Returns: 
        date (date): Date in YYYY-MM-DD with X days added. 
    """
    
    added_date = pd.to_datetime(date) + timedelta(days=days)
    added_date = added_date.strftime("%Y-%m-%d")

    return added_date

In [123]:
def create_update_dataframe(start, end, ticker_list):
    """Create a DataFrame with last days historical data.
        Logging tracks how many entries each ticker got and save on a new .txt for each day the code runs
    
    Args: 
        start (string): Date string in YYYY-MM-DD format - One day after the last update 
        end (string): Date string in YYYY-MM-DD format - Today
        ticker_list (iterable): iterable containing yfinance code for the companies and indexes
    
    Returns: 
        df (dataframe): DataFrame with last days historical data. 
    """
    
    #Track number of entries for each ticker
    entries_dict = {0:0, 1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 7:0, '7+':0 } 
    ticker_dict = {0:[], 1:[], 2:[], 3:[], 4:[], 5:[], 6:[], 7:[], '7+':[]}

    ticker_list = ticker_list.sort_values()

    df = pd.DataFrame()

    for ticker in ticker_list:
        aux_df = pd.DataFrame()
        aux_df = yf.Ticker(ticker).history(start=start, end=end)

        if aux_df.empty:
            logging.warning(f'{ticker}: No data found for this range')
            entries_dict[0] += 1
            ticker_dict[0].append(ticker)

        else:
            if aux_df.shape[0] == 1:
                entries_dict[1] += 1
                ticker_dict[1].append(ticker)

            elif aux_df.shape[0] == 2:
                entries_dict[2] += 1
                ticker_dict[2].append(ticker)

            elif aux_df.shape[0] == 3:
                entries_dict[3] += 1
                ticker_dict[3].append(ticker)

            elif aux_df.shape[0] == 4:
                entries_dict[4] += 1
                ticker_dict[4].append(ticker)

            elif aux_df.shape[0] == 5:
                entries_dict[5] += 1
                ticker_dict[5].append(ticker)

            elif aux_df.shape[0] == 6:
                entries_dict[6] += 1
                ticker_dict[6].append(ticker)

            elif aux_df.shape[0] == 7:
                entries_dict[7] += 1
                ticker_dict[7].append(ticker)

            else:
                entries_dict['7+'] += 1
                ticker_dict['7+'].append(ticker)

            aux_df['cod_yfinance'] = ticker

        df = pd.concat([df, aux_df], axis=0)

    for key, value in entries_dict.items():
        if value == 0:
            logger.info(f'No tickers with {key} entries')
        else: 
            logger.info(f'Number of tickers with {key} entries: {value}')
            logger.info(f'Tickers: {ticker_dict[key]}')

    logger.info(f'Create update DataFrame - Successful: Rows in DF: {df.shape[0]}')
    
    return df

In [141]:
def format_update_dataframe(dataframe):
    """Transform index to da columns with dates and round Open, High, Low, Close and Dividends columns to 3 decimal places
    
    Args: 
        dataframe (DataFrame): DataFrame containing last days historical data. 
    
    Returns: 
        df (DataFrame): Formated Dataframe. 
    """
    
    dataframe.reset_index(inplace= True)

    # Transform 'Date' to datetime
    dataframe['Date'] = pd.to_datetime(dataframe['Date'], format='%Y-%m-%d', utc=True)

    dataframe = dataframe.loc[:,['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits', 'cod_yfinance']]

    # Transform datetime to YYYY-MM-DD
    #dataframe['Date'] = dataframe['Date'].dt.date

    # Round Columns
    dataframe['Open'] = dataframe['Open'].round(3)
    dataframe['High'] = dataframe['High'].round(3)
    dataframe['Low'] = dataframe['Low'].round(3)
    dataframe['Close'] = dataframe['Close'].round(3)
    dataframe['Dividends'] = dataframe['Dividends'].round(3)

    logger.info('Format update DataFrame - Successful')
    
    return dataframe

In [125]:
def append_update_dataframe(dataframe):
    """Append update DataFrame to SQL dataset
    Verify if SQL got all the rows in the DF

    Args: 
        dataframe (DataFrame): DataFrame, already formated, containing last days historical data. 
    """

    dataframe.to_sql(name='historical_data', con=engine, if_exists='replace', index=False)

    rows_df = dataframe.shape[0]
    rows_SQL = dataframe.to_sql(name='historical_data', con=engine, if_exists='replace', index=False)
    
    if rows_df == rows_SQL:
        logger.info(f'SQL update successfull. All {rows_df} rows where appended to the database')

    else:
        logger.warning(f'ERROR in SQL update. Only {rows_SQL} out of {rows_df} where appended to the database')

In [126]:
def get_start_date(engine):
    """Get the start date to be used in 'create_update_dataframe' function

    Args: 
        engine (sqlalchemy.engine): engine that connects to the stocks_project dataset on MySQL Server 
    
    Returns: 
        start (str): date to be used in 'create_update_dataframe' function
    """

    last_update = pd.read_sql(sql = "SELECT MAX(Date) FROM historical_data", con=engine)
    start = last_update.iloc[0,0]
    start= add_days_to_date(start, 1)

    logger.info(f'Get start date - Successfull - Start date: {start}')

    return start

In [127]:
def get_end_date():
    """Get yesterdays's date to be used as end date in 'create_update_dataframe' function 

    Returns: 
        yesterday (str): Date string in YYYY-MM-DD format - Today
    """
    today = datetime.datetime.now()
    yesterday = today - datetime.timedelta(days = 1)
    yesterday = yesterday.strftime("%Y-%m-%d")

    logger.info(f'Get end date - Successful - End date: {yesterday}')

    return yesterday

In [128]:
def get_ticker_list(engine):
    """Get the ticker list to be used in 'create_update_dataframe' function

    Args: 
        engine (sqlalchemy.engine): engine that connects to the stocks_project dataset on MySQL Server 
    
    Returns: 
        ticker_list (iterable): iterable containing yfinance code for the companies and indexes
    """

    ticker_list = pd.read_sql(sql='SELECT cod_yfinance FROM companies', con=engine)['cod_yfinance']

    if ticker_list.shape[0] == 735:
        logger.info(f'Get ticker list - Successful - Number of tickers: {ticker_list.shape[0]}')
    
    else:
        logger.warning(f'Get ticker list - ERROR - Number of tickers expected: 735 -- Number of ticker found: {ticker_list.shape[0]}')

    return ticker_list

In [129]:
engine = create_engine()
engine

Engine(mysql+pymysql://root:***@localhost/stocks_project)

In [130]:
start = get_start_date(engine)
start

'2022-12-12'

In [131]:
end = get_end_date()
end

'2023-01-19'

In [132]:
ticker_list = get_ticker_list(engine)
ticker_list

0           IPG
1           OMC
2      TASA4.SA
3      EMBR3.SA
4            BA
         ...
730       ^GSPC
731        GC=F
732     BTC-USD
733     ETH-USD
734       BRL=X
Name: cod_yfinance, Length: 735, dtype: object

In [133]:
df = create_update_dataframe(start, end, ticker_list)
df

CAH: No data found for this date range, symbol may be delisted

,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance,Adj Close
Date,,,,,,,,,
2022-12-12 00:00:00-05:00,153.780652,155.747720,153.201514,155.098694,1071400.0,0.0,0.0,A,NaN
2022-12-13 00:00:00-05:00,158.962917,160.021336,156.526548,157.425217,1534200.0,0.0,0.0,A,NaN
2022-12-14 00:00:00-05:00,157.025816,158.204067,153.930442,154.579468,1344400.0,0.0,0.0,A,NaN
2022-12-15 00:00:00-05:00,152.582439,152.812092,150.016274,150.635345,1483900.0,0.0,0.0,A,NaN
2022-12-16 00:00:00-05:00,149.387203,149.726693,147.689738,149.077667,2436700.0,0.0,0.0,A,NaN
...,...,...,...,...,...,...,...,...,...
2023-01-12 00:00:00-03:00,18982.679688,19072.609375,18732.980469,18882.599609,0.0,0.0,0.0,^IBX50,NaN
2023-01-13 00:00:00-03:00,18877.019531,18877.019531,18656.580078,18768.000000,0.0,0.0,0.0,^IBX50,NaN
2023-01-16 00:00:00-03:00,18744.199219,18744.199219,18355.539062,18442.410156,0.0,0.0,0.0,^IBX50,NaN
2023-01-17 00:00:00-03:00,18442.609375,18815.119141,18442.609375,18808.240234,0.0,0.0,0.0,^IBX50,NaN
2023-01-18 00:00:00-03:00,18816.580078,19120.669922,18816.580078,18978.429688,0.0,0.0,0.0,^IBX50,NaN

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18739 entries, 2022-12-12 00:00:00-05:00 to 2023-01-18 00:00:00-03:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          18739 non-null  float64
 1   High          18739 non-null  float64
 2   Low           18739 non-null  float64
 3   Close         18739 non-null  float64
 4   Volume        18739 non-null  float64
 5   Dividends     18739 non-null  float64
 6   Stock Splits  18739 non-null  float64
 7   cod_yfinance  18739 non-null  object
 8   Adj Close     0 non-null      float64
dtypes: float64(8), object(1)
memory usage: 1.4+ MB

In [144]:
df = format_update_dataframe(df)
df

C:\Users\Pedro\AppData\Local\Temp\ipykernel_17748\2607806064.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Date'] = pd.to_datetime(dataframe['Date'], format='%Y-%m-%d', utc=True)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
0,2022-12-12 05:00:00+00:00,153.781,155.748,153.202,155.099,1071400.0,0.0,0.0,A
1,2022-12-13 05:00:00+00:00,158.963,160.021,156.527,157.425,1534200.0,0.0,0.0,A
2,2022-12-14 05:00:00+00:00,157.026,158.204,153.930,154.579,1344400.0,0.0,0.0,A
3,2022-12-15 05:00:00+00:00,152.582,152.812,150.016,150.635,1483900.0,0.0,0.0,A
4,2022-12-16 05:00:00+00:00,149.387,149.727,147.690,149.078,2436700.0,0.0,0.0,A
...,...,...,...,...,...,...,...,...,...
18734,2023-01-12 03:00:00+00:00,18982.680,19072.609,18732.980,18882.600,0.0,0.0,0.0,^IBX50
18735,2023-01-13 03:00:00+00:00,18877.020,18877.020,18656.580,18768.000,0.0,0.0,0.0,^IBX50
18736,2023-01-16 03:00:00+00:00,18744.199,18744.199,18355.539,18442.410,0.0,0.0,0.0,^IBX50
18737,2023-01-17 03:00:00+00:00,18442.609,18815.119,18442.609,18808.240,0.0,0.0,0.0,^IBX50
18738,2023-01-18 03:00:00+00:00,18816.580,19120.670,18816.580,18978.430,0.0,0.0,0.0,^IBX50

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18739 entries, 0 to 18738
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18739 non-null  datetime64[ns, UTC]
 1   Open          18739 non-null  float64
 2   High          18739 non-null  float64
 3   Low           18739 non-null  float64
 4   Close         18739 non-null  float64
 5   Volume        18739 non-null  float64
 6   Dividends     18739 non-null  float64
 7   Stock Splits  18739 non-null  float64
 8   cod_yfinance  18739 non-null  object
 9   Adj Close     0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(8), object(1)
memory usage: 1.4+ MB

In [145]:
append_update_dataframe(df)

In [ ]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [ ]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [ ]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

In [ ]:
type(engine)

In [ ]:
last_update = pd.read_sql(sql = "SELECT MAX(Date) FROM historical_data", con=engine)

In [ ]:
start = last_update.iloc[0,0]

In [ ]:
start

In [ ]:
start = add_days_to_date(start, 1)

In [ ]:
start

In [ ]:
ticker_list = pd.read_sql(sql='SELECT cod_yfinance FROM companies', con=engine)['cod_yfinance']

In [ ]:
ticker_list.iloc[-10:-1]

In [ ]:
ticker_list.iloc[-10:]

In [ ]:
today = datetime.datetime.now()
today = today.strftime("%Y-%m-%d")

In [ ]:
today

In [ ]:
# Testing yfinance historical data
test_df = pd.DataFrame()
for ticker in ticker_list.iloc[:5]:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(start='2022-12-08', end='2022-12-12')
    aux_df['cod_yfinance'] = ticker

    test_df = pd.concat([test_df, aux_df], axis=0)

In [ ]:
test_df

In [ ]:
test_df.reset_index(inplace=True)

In [ ]:
test_df

In [ ]:
test_df.info()

In [ ]:
# Transform date to datetime
test_df['Date'] = pd.to_datetime(test_df['Date'], utc=True)

In [ ]:
# Transform datetime to YYYY-MM-DD
test_df['Date'] = test_df['Date'].dt.date

In [ ]:
test_df

In [ ]:
test_df['Open'] = test_df['Open'].round(3)
test_df['High'] = test_df['High'].round(3)
test_df['Low'] = test_df['Low'].round(3)
test_df['Close'] = test_df['Close'].round(3)
test_df['Dividends'] = test_df['Dividends'].round(3)

In [ ]:
test_df

In [ ]:
test_df.to_sql(name='test_dataset', con=engine, if_exists='replace', index=False)

In [ ]:
all_companies.to_sql(name='companies', con=engine, if_exists='replace', index=False)

In [ ]:
# Testing yfinance historical data
test_df = pd.DataFrame()

for ticker in ticker_list.loc[0:5]:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(start='2022-12-09', end='2022-12-10')
    aux_df['cod_yfinance'] = ticker

    test_df = pd.concat([test_df, aux_df], axis=0)

In [ ]:
test_df

In [ ]:
test_df.reset_index(inplace=True)

In [ ]:
test_df

In [ ]:
test_df.info()

In [ ]:
# Transform date to datetime
test_df['Date'] = pd.to_datetime(test_df['Date'], utc=True)

In [ ]:
# Transform datetime to YYYY-MM-DD
test_df['Date'] = test_df['Date'].dt.date

In [ ]:
test_df

In [ ]:
test_df['Open'] = test_df['Open'].round(3)
test_df['High'] = test_df['High'].round(3)
test_df['Low'] = test_df['Low'].round(3)
test_df['Close'] = test_df['Close'].round(3)
test_df['Dividends'] = test_df['Dividends'].round(3)

In [ ]:
test_df

In [ ]:
test_df.to_sql(name='test_dataset', con=engine, if_exists='append', index=False)

# Analysis

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
historical_data = pd.read_csv(f'{stock_path}historical_data_complete_rev5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
# Masks
country_br = all_companies['country'] == 'Brazil'
country_usa = all_companies['country'] == 'USA'

type_company = all_companies['type'] == 'Company'
type_index = all_companies['type'] == 'Index'
type_gold = all_companies['type'] == 'Gold'
type_crypto = all_companies['type'] == 'Crypto'
type_currency = all_companies['type'] == 'Currency'

perennial = all_companies['perennial'] == 'Yes'

subsector_uti_elec = all_companies['perennial_subsector'] == 'Utilities - Electricity'
subsector_uti_gas = all_companies['perennial_subsector'] == 'Utilities - Gas'
subsector_sanit = all_companies['perennial_subsector'] == 'Sanitation'
subsector_banks = all_companies['perennial_subsector'] == 'Banks'
subsector_insurance = all_companies['perennial_subsector'] == 'Insurance'
subsector_healh_ins = all_companies['perennial_subsector'] == 'Health Insurance'
subsector_telecom = all_companies['perennial_subsector'] == 'Telecom'
subsector_oil = all_companies['perennial_subsector'] == 'Oil & Gas'

In [ ]:
historical_data.loc[historical_data['Date'] == '2012-02-22'].head(60)

In [ ]:
historical_data_aux = historical_data_aux.drop([467086,470795,4794649,482460,1354271])

In [ ]:
historical_data_aux.loc[(historical_data_aux['Date'] == '2021-05-02') & (historical_data_aux['cod_yfinance'].isin(all_companies.loc[country_br, 'cod_yfinance']))]

In [ ]:
historical_data.loc[(historical_data['Date'] == '2012-01-02') & (historical_data['cod_yfinance'].isin(all_companies.loc[country_br, 'cod_yfinance']))]

In [ ]:
historical_data.shape

In [ ]:
historical_data.dropna(axis = 0, subset=['Close']).shape

In [ ]:
historical_data_aux_1 = historical_data.dropna(axis = 0, subset=['Close'])

In [ ]:
historical_data_aux_1.shape

In [ ]:
historical_data.loc[(historical_data["Date"] == '2018-07-30') & historical_data['cod_yfinance'].isin(all_companies.loc[type_company & country_br & subsector_banks, 'cod_yfinance']), 'Close'].mean()

In [ ]:
all_companies.loc[type_company & country_br & subsector_banks, 'cod_yfinance']

In [ ]:
all_companies[subsector_oil]

In [ ]:
all_companies.loc[perennial & country_br, 'perennial_subsector'].value_counts()

In [ ]:
all_companies['type'].unique()

In [ ]:
df_company_br = all_companies[country_br & type_company]
df_company_usa = all_companies[country_usa & type_company]

In [ ]:
df_company_usa.shape

In [ ]:
all_companies

In [ ]:
historical_data

In [ ]:
historical_data.loc[historical_data['cod_yfinance'].isin(['^GSPC'])]

In [ ]:
historical_data.dtypes

In [ ]:
df_company_br

In [ ]:
df_br_pivot = pd.pivot_table(historical_data[historical_data['cod_yfinance'].isin(df_company_br["cod_yfinance"].unique())], index='Date', columns='cod_yfinance', values='Close')

In [ ]:
df_br_pivot.columns.tolist()

In [ ]:
df_br_pivot.loc['2018-01-03',df_br_pivot.loc['2018-01-03'].isnull()]

In [ ]:
all_companies.tail(10)

In [ ]:
all_companies.loc[[729], 'name'] = 'Dow Jones'

In [ ]:
all_companies.tail(10)

In [ ]:
all_companies = all_companies.drop('Ticker', axis=1)

# Read and Save

In [ ]:
# Save modified DataFrame
all_companies.to_csv(f'{stock_path}all_companies_and_indexes_rev3.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
historical_data = pd.read_csv(f'{stock_path}historical_data_complete_rev8.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
# Save modified DataFrame
historical_data_aux_1.to_csv(f'{stock_path}historical_data_complete_rev6.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [ ]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [ ]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

In [ ]:
historical_data_aux_1.to_sql(name='historical_data', con=engine, if_exists='replace', index=False)

In [ ]:
# Masks
country_br = all_companies['country'] == 'Brazil'
country_usa = all_companies['country'] == 'USA'

type_company = all_companies['type'] == 'Company'
type_index = all_companies['type'] == 'Index'
type_gold = all_companies['type'] == 'Gold'
type_crypto = all_companies['type'] == 'Crypto'
type_currency = all_companies['type'] == 'Currency'

perennial = all_companies['perennial'] == 'Yes'

subsector_uti_elec = all_companies['perennial_subsector'] == 'Utilities - Electricity'
subsector_uti_gas = all_companies['perennial_subsector'] == 'Utilities - Gas'
subsector_sanit = all_companies['perennial_subsector'] == 'Sanitation'
subsector_banks = all_companies['perennial_subsector'] == 'Banks'
subsector_insurance = all_companies['perennial_subsector'] == 'Insurance'
subsector_healh_ins = all_companies['perennial_subsector'] == 'Health Insurance'
subsector_telecom = all_companies['perennial_subsector'] == 'Telecom'
subsector_oil = all_companies['perennial_subsector'] == 'Oil & Gas'

In [ ]:
historical_data.loc[(historical_data['Date'] == '2017-06-15') & (historical_data['cod_yfinance'].isin(['^BVSP']))]

In [ ]:
create_update_dataframe('2003-07-09','2003-07-10',['^BVSP'])

In [ ]:
format_update_dataframe

In [ ]:
mask_tasa4 = historical_data['cod_yfinance'] == 'TASA4.SA'
mask_ibov = historical_data['cod_yfinance'] == '^BVSP'

In [ ]:
historical_data.loc[mask_tasa4]

In [ ]:
historical_data.loc[mask_ibov]

In [ ]:
historical_data.shape

In [ ]:
historical_data.shape

In [ ]:
historical_data = historical_data.drop(historical_data.loc[(historical_data['Close'] > 70) & (historical_data['cod_yfinance'].isin(['LREN3.SA']))].index)

In [ ]:
historical_data.loc[(historical_data['Close'] > 300) & (historical_data['cod_yfinance'].isin(all_companies.loc[type_company & country_br, 'cod_yfinance'])) & (historical_data['cod_yfinance'] != 'GFSA3.SA')].head(50)

In [ ]:
historical_data.loc[(historical_data['Close'] > 100) & (historical_data['cod_yfinance'].isin(['GGBR4.SA']))]

In [ ]:
historical_data.loc[(historical_data['Close'] > 100) & (historical_data['cod_yfinance'].isin(all_companies.loc[type_company & country_br, 'cod_yfinance'])) & (historical_data['cod_yfinance'] != 'GFSA3.SA'), 'cod_yfinance'].unique()

In [ ]:
all_companies

In [ ]:
all_companies[all_companies['type'] != 'Company']

In [ ]:
historical_data.loc[(historical_data['Close'] > 1000) & historical_data['cod_yfinance'].isin(all_companies.loc[type_company, 'cod_yfinance']), 'cod_yfinance'].unique()

In [ ]:
dataset_ibra = pd.read_csv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\B3\txt/dataset-IBRA.csv',
                        encoding='ISO-8859-1',
                        sep=';',
                        decimal='.')

In [ ]:
dataset_ibra.loc[dataset_ibra['cod_negociacao'] == 'BRKM5']

In [ ]:
dataset_ibra.loc[(dataset_ibra['data_pregao'] == '2002-09-04') & (dataset_ibra['cod_negociacao'] == 'BRKM5')]

In [ ]:
dataset_ibra.loc[(dataset_ibra['preco_ultimo_negocio'] > 1000)]

In [ ]:
dataset_ibra.loc[(dataset_ibra['cod_negociacao'] == 'CMIG4')]

In [ ]:
dataset_ibra[dataset_ibra['cod_negociacao'] == 'TUPY3'].max()

In [ ]:
historical_data.loc[historical_data['cod_yfinance'].isin(['AGRO3.SA']), 'Close'].max()

In [ ]:
all_companies[all_companies['cod_yfinance'] == 'VULC3.SA']

In [ ]:
historical_data.loc[(historical_data['Close'] > 100000) & historical_data['cod_yfinance'].isin(['VULC3.SA'])]

In [ ]:
historical_data.loc[historical_data['cod_yfinance'].isin(['VULC3.SA'])]

In [ ]:
historical_data_modified = historical_data.copy()

In [ ]:
pd.to_datetime(historical_data['Date'])

In [ ]:
historical_data_modified['Date'] = pd.to_datetime(historical_data_modified['Date'])

In [ ]:
date_before = pd.to_datetime('2022-01-01')
date_before

In [ ]:
historical_data_modified

In [ ]:
mask_date_prev_2022 = historical_data_modified['Date'] < date_before

In [ ]:
list_modify = ['BRKM5.SA', 'LREN3.SA', 'VULC3.SA', 'UGPA3.SA', 'RCSL3.SA', 'CMIG4.SA', 'TRPL4.SA']

In [ ]:
mask_companies_modify = historical_data_modified['cod_yfinance'].isin(list_modify)

In [ ]:
historical_data_modified.loc[mask_date_prev_2022 & mask_companies_modify]

In [ ]:
4913040 - 37735

In [ ]:
historical_data_modified = historical_data_modified.drop(historical_data_modified.loc[mask_date_prev_2022 & mask_companies_modify].index)

In [ ]:
historical_data_modified.reset_index()

In [ ]:
historical_data_modified

In [ ]:
dataset_ibra['data_pregao'] = pd.to_datetime(dataset_ibra['data_pregao'])

In [ ]:
dataset_ibra

In [ ]:
mask_date_prev_2022_ibra = dataset_ibra['data_pregao'] < date_before

In [ ]:
list_modify_ibra = ['BRKM5', 'LREN3', 'VULC3', 'UGPA3', 'RCSL3', 'CMIG4', 'TRPL4']

In [ ]:
mask_companies_modify_ibra = dataset_ibra['cod_negociacao'].isin(list_modify_ibra)

In [ ]:
dataset_ibra.loc[(dataset_ibra['data_pregao'] > pd.to_datetime('2021-01-01')) & (dataset_ibra['data_pregao'] < pd.to_datetime('2021-01-03'))]

In [ ]:
append_to_complete = dataset_ibra.loc[mask_date_prev_2022_ibra  & mask_companies_modify_ibra].copy()

In [ ]:
historical_data

In [ ]:
append_to_complete

In [ ]:
append_to_complete = append_to_complete[['data_pregao', 'preco_abertura', 'preco_maximo', 'preco_minimo', 'preco_ultimo_negocio', 'Volume', 'Dividends', 'Stock Splits', 'cod_yfinance']]

In [ ]:
cod_yfinance = [f'{i}.SA'for i in append_to_complete['cod_negociacao']]

In [ ]:
append_to_complete['Dividends'] = 0

In [ ]:
append_to_complete['Volume'] = 0

In [ ]:
append_to_complete

In [ ]:
append_to_complete['cod_yfinance'] = cod_yfinance

In [ ]:
append_to_complete = append_to_complete.drop('cod_negociacao', axis=1)

In [ ]:
append_to_complete.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits', 'cod_yfinance']

In [ ]:
append_to_complete

In [ ]:
historical_data_modified

In [ ]:
4875305 + 27834

In [ ]:
#COncatenar DataFrame yfinance concatenado com B3 para resolver outliers
historical_data_modified_to_save = pd.concat([historical_data_modified, append_to_complete], axis = 0, ignore_index=True)

In [ ]:
historical_data_modified_to_save.shape

In [ ]:
historical_data_modified_to_save.shape

In [ ]:
historical_data_modified_to_save = historical_data_modified_to_save.drop(historical_data_modified_to_save.loc[(historical_data_modified_to_save['Close'] > 100) & historical_data_modified_to_save['cod_yfinance'].isin(['TUPY3.SA'])].index)

In [ ]:
# Save modified DataFrame
historical_data_modified_to_save.to_csv(f'{stock_path}historical_data_complete_rev7.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [ ]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [ ]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

In [ ]:
historical_data_modified_to_save.to_sql(name='historical_data', con=engine, if_exists='replace', index=False)

In [ ]:
historical_data = historical_data_modified_to_save.copy()

In [ ]:
historical_data[(historical_data['Date'] > '2012-02-10') & ((historical_data['Date'] < '2012-02-21')) & (historical_data['cod_yfinance'].str.contains(r'\.SA'))]

In [ ]:
historical_data = pd.read_csv(f'{stock_path}historical_data_complete_rev6.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
historical_data.loc[(historical_data['Close'] > 5000) & historical_data['cod_yfinance'].isin(all_companies.loc[type_company, 'cod_yfinance'])].index

In [ ]:
historical_data

In [ ]:
historical_data = historical_data.drop(historical_data.loc[(historical_data['Close'] < 0) & historical_data['cod_yfinance'].isin(all_companies.loc[type_company, 'cod_yfinance'])].index)

In [ ]:
historical_data.loc[(historical_data['Close'] < 0) & historical_data['cod_yfinance'].isin(all_companies.loc[type_company, 'cod_yfinance'])].index

In [ ]:
historical_data.loc[(historical_data['Date'] == '2001-09-12') & (historical_data['cod_yfinance'].isin(all_companies.loc[type_company, 'cod_yfinance']))]

In [ ]:
historical_data

In [ ]:
# Save modified DataFrame
historical_data.to_csv(f'{stock_path}historical_data_complete_rev8.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [ ]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [ ]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

In [ ]:
historical_data.to_sql(name='historical_data', con=engine, if_exists='replace', index=False)

# Analisys on Companies DataSet

In [ ]:
top_20_barsi = [
'AESB3'
,'BBDC3'
,'BBSE3'
,'BRAP3'
,'BRKM5'
,'BRSR6'
,'CSMG3'
,'ENAT3'
,'GRND3'
,'ITSA4'
,'ITUB3'
,'QUAL3'
,'PSSA3'
,'SANB11'
,'SAPR11'
,'TAEE11'
,'TRPL4'
,'VIVT3'
,'WIZS3'
,'VBBR3'
]

In [ ]:
# Masks
country_br = all_companies['country'] == 'Brazil'
country_usa = all_companies['country'] == 'USA'

type_company = all_companies['type'] == 'Company'
type_index = all_companies['type'] == 'Index'
type_gold = all_companies['type'] == 'Gold'
type_crypto = all_companies['type'] == 'Crypto'
type_currency = all_companies['type'] == 'Currency'

perennial = all_companies['perennial'] == 'Yes'

subsector_uti_elec = all_companies['perennial_subsector'] == 'Utilities - Electricity'
subsector_uti_gas = all_companies['perennial_subsector'] == 'Utilities - Gas'
subsector_sanit = all_companies['perennial_subsector'] == 'Sanitation'
subsector_banks = all_companies['perennial_subsector'] == 'Banks'
subsector_insurance = all_companies['perennial_subsector'] == 'Insurance'
subsector_healh_ins = all_companies['perennial_subsector'] == 'Health Insurance'
subsector_telecom = all_companies['perennial_subsector'] == 'Telecom'
subsector_oil = all_companies['perennial_subsector'] == 'Oil & Gas'

In [ ]:
all_companies.loc[country_usa & type_company, 'sector'].value_counts()

In [ ]:
all_companies.loc[country_usa & type_company & (all_companies['sector'] == 'Real Estate' )]

In [ ]:
all_companies[country_br & type_company & all_companies['ticker'].str.contains('SAP')]

In [ ]:
all_companies.loc[country_br & type_company & (all_companies['perennial_subsector']=='Health Insurance')]

In [ ]:
all_companies.loc[country_br & type_company & all_companies['ticker'].isin(top_20_barsi), 'perennial_subsector'].value_counts()

In [ ]:
historical_data[(historical_data['Date'] == '2008-01-02') & (historical_data['cod_yfinance'].isin(all_companies.loc[country_br & type_company & all_companies['ticker'].isin(top_20_barsi), 'cod_yfinance']))]

In [ ]:
historical_data.loc[(historical_data['Date'] == '2008-01-02') & (historical_data['cod_yfinance'].isin(all_companies.loc[country_br & type_company, 'cod_yfinance']))]

In [ ]:
dict_subsector_pbi = {
'Utilities - Diversified' : 'Electricity'
,'Utilities - Independent Power Producers' : 'Electricity'
,'Utilities - Regulated Electric' : 'Electricity'
,'Utilities - Regulated Gas' :	'Utilities - Gas'
,'Utilities - Regulated Water' : 'Sanitation'
,'Utilities - Renewable' : 'Electricity'
,'Banks - Diversified' : 'Banks'
,'Banks - Regional' : 'Banks'
,'Insurance - Diversified': 'Insurance'
,'Insurance - Life' : 'Insurance'
,'Insurance - Property & Casualty' : 'Insurance'
,'Insurance - Reinsurance' : 'Insurance'
,'Insurance - Specialty' : 'Insurance'
,'Insurance Brokers' : 'Insurance'
,'Healthcare Plans' : 'Health Insurance'
,'Telecom Services' : 'Telecom'
,'Waste Management' : 'Sanitation'
,'Oil & Gas E&P' : 'Oil & Gas'
,'Oil & Gas Equipment & Services' : 'Oil & Gas'
,'Oil & Gas Integrated' : 'Oil & Gas'
,'Oil & Gas Midstream' : 'Oil & Gas'
,'Oil & Gas Refining & Marketing' : 'Oil & Gas'
,'Real Estate - Development' : 'Construction'
}

In [ ]:
all_companies

In [ ]:
all_companies.loc[country_br & type_company & perennial, 'pbi_sector_analysis'] = all_companies['industry'].map(dict_subsector_pbi)

In [ ]:
all_companies.loc[all_companies['pbi_sector_analysis'].isnull(), 'pbi_sector_analysis'] = all_companies['sector']

In [ ]:
all_companies.isnull().sum()

In [ ]:
all_companies.loc[country_usa & type_company & (all_companies['sector'] == 'Technology')]

In [ ]:
all_companies.to_sql(name='companies', con=engine, if_exists='replace', index=False)

In [ ]:
all_companies_rev1 = all_companies

In [ ]:
all_companies[['cod_yfinance', 'ticker', 'name', 'sector', 'industry']].sort_values('name').head(6)

In [ ]:
all_companies.sort_values('name').head(6)

In [ ]:
historical_data_outlier = pd.read_csv(f'{stock_path}historical_data_complete_rev5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
historical_data_outlier[(historical_data_outlier['Close'] > 100000) & (historical_data_outlier['cod_yfinance'].str.contains('SA'))]

In [ ]:
historical_data

In [142]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev3.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [36]:
historical_data = pd.read_csv(f'{stock_path}historical_data_complete_rev8.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [47]:
all_companies.sort_values(['type', 'country', 'ticker'])

,cod_yfinance,ticker,name,sector,industry,perennial_subsector,perennial,country,type,pbi_sector_analysis
155,AALR3.SA,AALR3,ALLIAR,Healthcare,Diagnostics & Research,Diagnostics & Research,No,Brazil,Company,Healthcare
63,ABCB4.SA,ABCB4,ABC BRASIL,Financial Services,Banks - Regional,Banks,Yes,Brazil,Company,Banks
88,ABEV3.SA,ABEV3,AMBEV S/A,Consumer Defensive,Beverages - Brewers,Beverages - Brewers,No,Brazil,Company,Consumer Defensive
597,AERI3.SA,AERI3,AERIS,Industrials,Specialty Industrial Machinery,Specialty Industrial Machinery,No,Brazil,Company,Industrials
713,AESB3.SA,AESB3,AES BRASIL,Utilities,Utilities - Renewable,Utilities - Electricity,Yes,Brazil,Company,Electricity
...,...,...,...,...,...,...,...,...,...,...
726,^BVSP,IBOV,Ibovespa,Index,Index,Index,No,Brazil,Index,Index
727,^IBX50,IBRX50,IBrX50,Index,Index,Index,No,Brazil,Index,Index
729,^DJI,DOW JONES,Dow Jones,Index,Index,Index,No,USA,Index,Index
728,NQ=F,NASDAQ100,Nasdaq 100,Index,Index,Index,No,USA,Index,Index
730,^GSPC,SP500,S&P 500,Index,Index,Index,No,USA,Index,Index

In [143]:
all_companies.sort_values('cod_yfinance')

,cod_yfinance,ticker,name,sector,industry,perennial_subsector,perennial,country,type,pbi_sector_analysis
159,A,A,Agilent Technologies,Healthcare,Diagnostics & Research,Diagnostics & Research,No,USA,Company,Healthcare
23,AAL,AAL,American Airlines Group,Industrials,Airlines,Airlines,No,USA,Company,Industrials
155,AALR3.SA,AALR3,ALLIAR,Healthcare,Diagnostics & Research,Diagnostics & Research,No,Brazil,Company,Healthcare
625,AAP,AAP,Advance Auto Parts,Consumer Cyclical,Specialty Retail,Specialty Retail,No,USA,Company,Consumer Cyclical
142,AAPL,AAPL,Apple Inc.,Technology,Consumer Electronics,Consumer Electronics,No,USA,Company,Technology
...,...,...,...,...,...,...,...,...,...,...
191,ZTS,ZTS,Zoetis,Healthcare,Drug Manufacturers - Specialty & Generic,Drug Manufacturers - Specialty & Generic,No,USA,Company,Healthcare
726,^BVSP,IBOV,Ibovespa,Index,Index,Index,No,Brazil,Index,Index
729,^DJI,DOW JONES,Dow Jones,Index,Index,Index,No,USA,Index,Index
730,^GSPC,SP500,S&P 500,Index,Index,Index,No,USA,Index,Index
727,^IBX50,IBRX50,IBrX50,Index,Index,Index,No,Brazil,Index,Index

In [43]:
historical_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
0,1980-03-17 00:00:00+00:00,0.000,0.426,0.420,0.420,43200.0,0.0,0.0,IPG
1,1980-03-18 00:00:00+00:00,0.000,0.417,0.417,0.417,327600.0,0.0,0.0,IPG
2,1980-03-19 00:00:00+00:00,0.000,0.417,0.417,0.417,115200.0,0.0,0.0,IPG
3,1980-03-20 00:00:00+00:00,0.000,0.420,0.420,0.420,28800.0,0.0,0.0,IPG
4,1980-03-21 00:00:00+00:00,0.000,0.420,0.420,0.420,554400.0,0.0,0.0,IPG
...,...,...,...,...,...,...,...,...,...
4899920,2022-12-05 00:00:00+00:00,5.218,5.264,5.214,5.218,0.0,0.0,0.0,BRL=X
4899921,2022-12-06 00:00:00+00:00,5.280,5.281,5.220,5.280,0.0,0.0,0.0,BRL=X
4899922,2022-12-07 00:00:00+00:00,5.234,5.270,5.210,5.234,0.0,0.0,0.0,BRL=X
4899923,2022-12-08 00:00:00+00:00,5.204,5.248,5.194,5.204,0.0,0.0,0.0,BRL=X
4899924,2022-12-09 00:00:00+00:00,5.224,5.280,5.215,5.224,0.0,0.0,0.0,BRL=X

In [42]:
historical_data['Date'] = pd.to_datetime(historical_data['Date'], format='%Y-%m-%d', utc=True)

In [40]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4899925 entries, 0 to 4899924
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Date          datetime64[ns, UTC]
 1   Open          float64
 2   High          float64
 3   Low           float64
 4   Close         float64
 5   Volume        float64
 6   Dividends     float64
 7   Stock Splits  float64
 8   cod_yfinance  object
dtypes: datetime64[ns, UTC](1), float64(7), object(1)
memory usage: 336.5+ MB

In [73]:
historical_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
0,1980-03-17 00:00:00+00:00,0.000,0.426,0.420,0.420,43200.0,0.0,0.0,IPG
1,1980-03-18 00:00:00+00:00,0.000,0.417,0.417,0.417,327600.0,0.0,0.0,IPG
2,1980-03-19 00:00:00+00:00,0.000,0.417,0.417,0.417,115200.0,0.0,0.0,IPG
3,1980-03-20 00:00:00+00:00,0.000,0.420,0.420,0.420,28800.0,0.0,0.0,IPG
4,1980-03-21 00:00:00+00:00,0.000,0.420,0.420,0.420,554400.0,0.0,0.0,IPG
...,...,...,...,...,...,...,...,...,...
4899920,2022-12-05 00:00:00+00:00,5.218,5.264,5.214,5.218,0.0,0.0,0.0,BRL=X
4899921,2022-12-06 00:00:00+00:00,5.280,5.281,5.220,5.280,0.0,0.0,0.0,BRL=X
4899922,2022-12-07 00:00:00+00:00,5.234,5.270,5.210,5.234,0.0,0.0,0.0,BRL=X
4899923,2022-12-08 00:00:00+00:00,5.204,5.248,5.194,5.204,0.0,0.0,0.0,BRL=X
4899924,2022-12-09 00:00:00+00:00,5.224,5.280,5.215,5.224,0.0,0.0,0.0,BRL=X

In [55]:
date_test = historical_data.iloc[-10:]

In [56]:
date_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 4899915 to 4899924
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          10 non-null     datetime64[ns, UTC]
 1   Open          10 non-null     float64
 2   High          10 non-null     float64
 3   Low           10 non-null     float64
 4   Close         10 non-null     float64
 5   Volume        10 non-null     float64
 6   Dividends     10 non-null     float64
 7   Stock Splits  10 non-null     float64
 8   cod_yfinance  10 non-null     object
dtypes: datetime64[ns, UTC](1), float64(7), object(1)
memory usage: 852.0+ bytes

In [57]:
date_test

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
4899915,2022-11-28 00:00:00+00:00,5.409,5.424,5.365,5.409,0.0,0.0,0.0,BRL=X
4899916,2022-11-29 00:00:00+00:00,5.365,5.365,5.278,5.365,0.0,0.0,0.0,BRL=X
4899917,2022-11-30 00:00:00+00:00,5.268,5.316,5.244,5.268,0.0,0.0,0.0,BRL=X
4899918,2022-12-01 00:00:00+00:00,5.182,5.214,5.163,5.182,0.0,0.0,0.0,BRL=X
4899919,2022-12-02 00:00:00+00:00,5.184,5.236,5.164,5.184,0.0,0.0,0.0,BRL=X
4899920,2022-12-05 00:00:00+00:00,5.218,5.264,5.214,5.218,0.0,0.0,0.0,BRL=X
4899921,2022-12-06 00:00:00+00:00,5.280,5.281,5.220,5.280,0.0,0.0,0.0,BRL=X
4899922,2022-12-07 00:00:00+00:00,5.234,5.270,5.210,5.234,0.0,0.0,0.0,BRL=X
4899923,2022-12-08 00:00:00+00:00,5.204,5.248,5.194,5.204,0.0,0.0,0.0,BRL=X
4899924,2022-12-09 00:00:00+00:00,5.224,5.280,5.215,5.224,0.0,0.0,0.0,BRL=X

In [58]:
date_test.to_sql(name='date_test_03', con=engine, if_exists='replace', index=False)

10

In [ ]:
date

In [ ]:
def append_update_dataframe(dataframe):
    """Append update DataFrame to SQL dataset

    Args: 
        dataframe (DataFrame): DataFrame, already formated, containing last days historical data. 
    
    Returns**: 
        Append update DataFrame to SQL dataset 
    """

    dataframe.to_sql(name='historical_data_backup_2022-12-09', con=engine, if_exists='replace', index=False)

In [ ]:
append_update_dataframe(historical_data)

In [ ]:
date_test.info()

In [66]:
date_test['Date'] = pd.to_datetime(date_test['Date'])

C:\Users\Pedro\AppData\Local\Temp\ipykernel_5688\382160274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_test['Date'] = pd.to_datetime(date_test['Date'])

In [ ]:
append_update_dataframe(date_test)

In [33]:
date_test.to_csv(f'{stock_path}date_test.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

NameError: name 'date_test' is not defined

In [34]:
date_test_csv = pd.read_csv(f'{stock_path}date_test.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [35]:
date_test_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          10 non-null     object
 1   Open          10 non-null     float64
 2   High          10 non-null     float64
 3   Low           10 non-null     float64
 4   Close         10 non-null     float64
 5   Volume        10 non-null     float64
 6   Dividends     10 non-null     float64
 7   Stock Splits  10 non-null     float64
 8   cod_yfinance  10 non-null     object
dtypes: float64(7), object(2)
memory usage: 848.0+ bytes

In [ ]:
date_test_csv.info()

In [ ]:
last_update = pd.read_sql(sql = "SELECT MAX(Date) FROM date_test_01", con=engine)

In [ ]:
last_update

In [44]:
teste_df = create_update_dataframe('2023-01-08', '2023-01-15', ['ABMD', 'SULA11.SA', 'BRML3.SA', 'DMMO3.SA', '^GSPC', 'ABEV3.SA', 'MSFT'])

ABMD: No data found for this date range, symbol may be delisted
SULA11.SA: No data found for this date range, symbol may be delisted
BRML3.SA: No data found for this date range, symbol may be delisted
DMMO3.SA: No data found for this date range, symbol may be delisted

In [31]:
teste_df

,Open,High,Low,Close,Adj Close,Volume,cod_yfinance,Dividends,Stock Splits
Date,,,,,,,,,
2023-01-09 00:00:00-05:00,3910.820068,3950.570068,3890.419922,3892.090088,NaN,4.311770e+09,^GSPC,0.0,0.0
2023-01-10 00:00:00-05:00,3888.570068,3919.830078,3877.290039,3919.250000,NaN,3.851030e+09,^GSPC,0.0,0.0
2023-01-11 00:00:00-05:00,3932.350098,3970.070068,3928.540039,3969.610107,NaN,4.303360e+09,^GSPC,0.0,0.0
2023-01-12 00:00:00-05:00,3977.570068,3997.760010,3937.560059,3983.169922,NaN,4.440260e+09,^GSPC,0.0,0.0
2023-01-13 00:00:00-05:00,3960.600098,4003.949951,3947.669922,3999.090088,NaN,3.939700e+09,^GSPC,0.0,0.0
2023-01-09 00:00:00-03:00,14.290000,14.470000,14.270000,14.400000,NaN,2.444860e+07,ABEV3.SA,0.0,0.0
2023-01-10 00:00:00-03:00,14.260000,14.600000,14.250000,14.540000,NaN,3.553500e+07,ABEV3.SA,0.0,0.0
2023-01-11 00:00:00-03:00,14.510000,14.790000,13.950000,14.290000,NaN,7.441960e+07,ABEV3.SA,0.0,0.0
2023-01-12 00:00:00-03:00,13.800000,14.170000,13.660000,14.100000,NaN,6.995950e+07,ABEV3.SA,0.0,0.0
2023-01-13 00:00:00-03:00,14.000000,14.050000,13.770000,13.880000,NaN,4.429130e+07,ABEV3.SA,0.0,0.0
2023-01-09 00:00:00-05:00,226.449997,231.240005,226.410004,227.119995,NaN,2.736980e+07,MSFT,0.0,0.0
2023-01-10 00:00:00-05:00,227.759995,231.309998,227.330002,228.850006,NaN,2.703390e+07,MSFT,0.0,0.0
2023-01-11 00:00:00-05:00,231.289993,235.949997,231.110001,235.770004,NaN,2.866930e+07,MSFT,0.0,0.0
2023-01-12 00:00:00-05:00,235.259995,239.899994,233.559998,238.509995,NaN,2.726950e+07,MSFT,0.0,0.0
2023-01-13 00:00:00-05:00,237.000000,239.369995,234.919998,239.229996,NaN,2.131770e+07,MSFT,0.0,0.0

In [30]:
teste_df.shape[0]

15

In [27]:
def create_update_dataframe(start, end, ticker_list):
    """Create a DataFrame with last days historical data.
    
    Args: 
        start (string): Date string in YYYY-MM-DD format - One day after the last update 
        end (string): Date string in YYYY-MM-DD format - Today
        ticker_list (iterable): iterable containing yfinance code for the companies and indexes
    
    Returns: 
        df (dataframe): DataFrame with last days historical data. 
    """
    
    df = pd.DataFrame()

    for ticker in ticker_list:
        aux_df = pd.DataFrame()
        aux_df = yf.Ticker(ticker).history(start=start, end=end)
        aux_df['cod_yfinance'] = ticker
        
        df = pd.concat([df, aux_df], axis=0)

    return df

In [43]:
def create_update_dataframe(start, end, ticker_list):
    """Create a DataFrame with last days historical data.
        Logging tracks how many entries each ticker got and save on a new .txt for each day the code runs
    
    Args: 
        start (string): Date string in YYYY-MM-DD format - One day after the last update 
        end (string): Date string in YYYY-MM-DD format - Today
        ticker_list (iterable): iterable containing yfinance code for the companies and indexes
    
    Returns: 
        df (dataframe): DataFrame with last days historical data. 
    """
    
    #Track number of entries for each ticker
    entries_dict = {0:0, 1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 7:0, '7+':0 } 
    ticker_dict = {0:[], 1:[], 2:[], 3:[], 4:[], 5:[], 6:[], 7:[], '7+':[]}


    df = pd.DataFrame()

    for ticker in ['ABMD', 'SULA11.SA', 'BRML3.SA', 'DMMO3.SA', '^GSPC', 'ABEV3.SA', 'MSFT']:
        aux_df = pd.DataFrame()
        aux_df = yf.Ticker(ticker).history(start='2023-01-08', end='2023-01-19')

        if aux_df.empty:
            logging.warning(f'{ticker}: No data found for this range')
            entries_dict[0] += 1
            ticker_dict[0].append(ticker)

        else:
            if aux_df.shape[0] == 1:
                entries_dict[1] += 1
                ticker_dict[1].append(ticker)

            elif aux_df.shape[0] == 2:
                entries_dict[2] += 1
                ticker_dict[2].append(ticker)

            elif aux_df.shape[0] == 3:
                entries_dict[3] += 1
                ticker_dict[3].append(ticker)

            elif aux_df.shape[0] == 4:
                entries_dict[4] += 1
                ticker_dict[4].append(ticker)

            elif aux_df.shape[0] == 5:
                entries_dict[5] += 1
                ticker_dict[5].append(ticker)

            elif aux_df.shape[0] == 6:
                entries_dict[6] += 1
                ticker_dict[6].append(ticker)

            elif aux_df.shape[0] == 7:
                entries_dict[7] += 1
                ticker_dict[7].append(ticker)

            else:
                entries_dict['7+'] += 1
                ticker_dict['7+'].append(ticker)

            aux_df['cod_yfinance'] = ticker

        df = pd.concat([df, aux_df], axis=0)

    for key, value in entries_dict.items():
        if value == 0:
            logger.info(f'No tickers with {key} entries')
        else: 
            logger.info(f'Number of tickers with {key} entries: {value}')
            logger.info(f'Tickers: {ticker_dict[key]}')

    return df

In [46]:
df.shape[0]

22

In [21]:
df.shape

(22, 9)

In [19]:
df.to_sql(name='date_test_02', con=engine, if_exists='append', index=False)

22

In [24]:
def append_update_dataframe(dataframe):
    """Append update DataFrame to SQL dataset       ********revisar se está correto a maneira de verificar o append de linhas********

    Args: 
        dataframe (DataFrame): DataFrame, already formated, containing last days historical data. 
    
    Returns**: 
        Append update DataFrame to SQL dataset 
    """

    dataframe.to_sql(name='date_test_03', con=engine, if_exists='replace', index=False)
    
    return dataframe.to_sql(name='date_test_03', con=engine, if_exists='replace', index=False)

In [26]:
def verify_rows_sql(row_df, row_SQL):
    """Verify if SQL got all the rows in the DF

    Args:
        row_df (int): number of rows in the DataFrame to be appended 
        row_SQL (int): number of rows appended in the SQL database
    
    Return:
        Loggging tracking if everything occurred as expected
    """

    if row_df == row_SQL:
        logger.info(f'SQL update successfull. All {row_df} where appended to the database')

    else:
        logger.warning(f'ERROR in SQL update. Only {row_SQL} out of {row_df} where appended to the database')

In [25]:
append_update_dataframe(df)

22

In [35]:
entries_dict

{0: 4, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 2, '7+': 1}

In [34]:
ticker_dict

{0: ['ABMD', 'SULA11.SA', 'BRML3.SA', 'DMMO3.SA'],
 1: [],
 2: [],
 3: [],
 4: [],
 5: [],
 6: [],
 7: ['^GSPC', 'MSFT'],
 '7+': ['ABEV3.SA']}

In [6]:
teste_df.empty

True

In [9]:
teste_df = yf.Ticker('MSFT').history(start='2023-01-08', end='2023-01-19')

In [10]:
yf.Ticker('MSFT').history(start='2023-01-08', end='2023-01-19')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-09 00:00:00-05:00,226.449997,231.240005,226.410004,227.119995,27369800,0.0,0.0
2023-01-10 00:00:00-05:00,227.759995,231.309998,227.330002,228.850006,27033900,0.0,0.0
2023-01-11 00:00:00-05:00,231.289993,235.949997,231.110001,235.770004,28669300,0.0,0.0
2023-01-12 00:00:00-05:00,235.259995,239.899994,233.559998,238.509995,27269500,0.0,0.0
2023-01-13 00:00:00-05:00,237.000000,239.369995,234.919998,239.229996,21317700,0.0,0.0
2023-01-17 00:00:00-05:00,237.970001,240.910004,237.089996,240.350006,29831300,0.0,0.0
2023-01-18 00:00:00-05:00,241.570007,242.380005,235.520004,235.809998,30004400,0.0,0.0

In [ ]:
create_update_dataframe('2023-01-08', '2023-01-18', ['ABMD', 'SULA11.SA', 'BRML3.SA', 'DMMO3.SA', '^GSPC', 'ABEV3.SA', 'MSFT'])

In [4]:
today = datetime.datetime.today()
today = today.strftime("%Y-%m-%d")

In [84]:
today

'2023-01-20'

In [5]:
import logging

logging.basicConfig(level=logging.INFO,
                    filename=f'{logging_path}{today}.log',
                    format='%(asctime)s.%(msecs)03d %(levelname)s - %(funcName)s: %(message)s',
                    datefmt='%Y-%m-%d %H:%M:%S')

In [ ]:
#logging.info(f'7 entries: {entries_dict[7]}')
#logging.warning(f'0 entries: {entries_dict[0]}')

In [15]:
logger = logging.getLogger('Logging')

In [13]:
logger.info('teste')

In [1]:
import logging
logging.basicConfig(level=logging.INFO)

In [40]:
#logger = logging.getLogger('name')
def func_test_log():
    logger.critical(f'Testing simple log.')
func_test_log()

In [54]:
ticker_list = pd.read_sql(sql='SELECT cod_yfinance FROM companies', con=engine)['cod_yfinance']

In [58]:
ticker_list.sort_values()

159           A
23          AAL
155    AALR3.SA
625         AAP
142        AAPL
         ...
191         ZTS
726       ^BVSP
729        ^DJI
730       ^GSPC
727      ^IBX50
Name: cod_yfinance, Length: 735, dtype: object

In [ ]:
dataframe.to_sql(name='historical_data_backup_2022-12-09', con=engine, if_exists='replace', index=False)