# Installing Libraries

In [ ]:
#!pip install pandas_datareader

In [ ]:
#!pip install yfinance

In [1]:
#!pip install yfinance --upgrade --no-cache-dir

In [ ]:
#!pip install html5lib

# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from unidecode import unidecode
import re
import os
import yfinance as yf
from time import sleep
import glob
import regex as re
import datetime
import sqlalchemy as db
from dotenv import load_dotenv
from datetime import timedelta

In [3]:
# Defining file's path
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project\data/'
# Historical dataset is to big to upload to GitHub
stock_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\stock_project_datasets/'

# Gathering Data - Brazilian Companies

### List of brazilian companies and composition of indexes - Ibovespa, IBrX100, IBrX50, IBrA

## Selenium

Used to get list of companies in brazilian's index

### Configurating WebDriver

In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

### Configurating download file

In [5]:
chromeOptions = webdriver.ChromeOptions()
download_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project\data'
prefs = {"download.default_directory" : download_path}
chromeOptions.add_experimental_option("prefs",prefs)

In [ ]:
#Runs the webdriver
driver = webdriver.Chrome(options=chromeOptions)

### Download Index File (.csv)

In [ ]:
def get_index_stocks(index, wait=6):
    '''
        Receives the Index name, download a file that contains the index tickers, and return the name of the downloaded file
    '''

    # Chrome WebDriver opens the index webside
    url = f'https://sistemaswebb3-listados.b3.com.br/indexPage/day/{index.upper()}?language=pt-br'
    driver.get(url)
    driver.implicitly_wait(wait)

    driver.find_element(By.ID, 'segment').send_keys("Setor de Atuação")
    driver.implicitly_wait(wait)
    driver.find_element(By.LINK_TEXT, 'Download').click()
    driver.implicitly_wait(wait)

    # Set the directory
    os.chdir(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project\data')
    sleep(wait)

    # Get the .csv files from the selectec directory and sort them ascending by modification date 
    files = list(glob.glob('*csv'))
    files.sort(key=lambda x: os.path.getmtime(x), reverse=True)

    # Returns the name of the most recent file
    return files[0]

### Create the Index DataFrame

In [ ]:
def create_df(file):
    '''
        This function receives the name of the Stock Exchange index and returns a DataFrame with all companies and their respective sectors
    '''

    # Creating DataFrame
    DataFrame = pd.read_csv(file, 
                                encoding='ISO-8859-1',
                                header=1,                   # Uses line 1 as header
                                sep=';',                    
                                decimal=',',
                                thousands='.',
                                skipfooter=2,               # Removes last 2 lines
                                engine='python',
                                index_col=False)            # Does not make first column as index
    
    # Normalizing columns
    DataFrame.columns = [re.sub('[\.()]', '', re.sub(' ', '_', unidecode(columns.lower()))) for columns in DataFrame.columns]

    return DataFrame

## Creating Index's DataFrames

In [ ]:
# Defining file's path
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project\data/'
# Historical dataset is to big to upload to GitHub
stock_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\stock_project_datasets/'

In [ ]:
# Defining DataFrames' columns names
col_names = [
    'sector',
    'ticker',
    'name',
    'type',
    'amount',
    'percentage',
    'percentage_acum'
]

### Ibovespa

In [ ]:
ibov = create_df(get_index_stocks('ibov'))
len(ibov)

In [ ]:
ibov.columns = col_names

In [ ]:
# Save index file
ibov.to_csv(f'{path}IBOV.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

### IBrX100

In [ ]:
ibrx = create_df(get_index_stocks('ibxx'))
len(ibrx)

In [ ]:
ibrx.columns = col_names

In [ ]:
# Save index file
ibrx.to_csv(f'{path}IBRX100.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

### IBrX50

In [ ]:
ibrx50 = create_df(get_index_stocks('ibxl'))
len(ibrx50)

In [ ]:
ibrx50.columns = col_names

In [ ]:
# Save index file
ibrx50.to_csv(f'{path}IBRX50.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

### IBrA

In [ ]:
ibra = create_df(get_index_stocks('ibra'))
len(ibra)

In [ ]:
ibra.columns = col_names

In [ ]:
# Save index file
ibra.to_csv(f'{path}IBRA.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

### Transform Sector - Obsoleto?

In [ ]:
ibra = pd.read_csv(f'{path}IBRA.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.')

In [ ]:
len(ibra)

In [ ]:
ibra

In [ ]:
ibra[['sector_aux', 'sub_sector_aux']] = ibra['sector'].str.split('/',expand=True)

In [ ]:
ibra['sector_aux'] = ibra['sector_aux'].str.strip()
ibra['sub_sector_aux'] = ibra['sub_sector_aux'].str.strip()

In [ ]:
len(ibra['sector_aux'].unique())

In [ ]:
len(ibra['sub_sector_aux'].unique())

## Verificando empresas que divergem nos dois índices - Obsoleto

In [ ]:
emp_ibrx = ibrx['codigo']
set_ibrx = set(emp_ibrx)
len(set_ibrx)

In [ ]:
emp_ibov = ibov['codigo']
set_ibov = set(emp_ibov)
len(set_ibov)

In [ ]:
emp_ibra = ibra['codigo']
set_ibra = set(emp_ibra)
len(set_ibra)

In [ ]:
print(len(set_ibra.difference(set_ibrx)))
print(set_ibra.difference(set_ibrx))

In [ ]:
print(len(set_ibov.difference(set_ibrx)))
print(set_ibov.difference(set_ibrx))

In [ ]:
print(len(set_ibrx.difference(set_ibov)))
print(set_ibrx.difference(set_ibov))

### Verificando qual empresa da lista completa não exista em 2021

In [ ]:
set_codigo = set(lista_codigo)
set_empresas_2021 = set(empresas_2021)

print(len(set_codigo.difference(set_empresas_2021)))
print(set_codigo.difference(set_empresas_2021))

## Criando DataFrame unindo os dois índices - Obsoleto

In [ ]:
df_empresas = pd.concat([ibrx, ibov]).drop_duplicates(subset='codigo', ignore_index=True).drop(['qtde_teorica',r'part_%',r'part_%acum'], axis=1)

# Gathering Data - Brazilian Companies Historical Dataset

### Create data set concatenating historical datasets downloaded from B3 website with data from the companies listed in IBRA Index

## Criando lista com o código dos pricipais ativos

In [ ]:
## Utilizar lista do IBRA
codigo = list(set_ibra)

## Unzip files

In [ ]:
import zipfile
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\data_visualization\data/'

i = 1986

while i < 2000:
    with zipfile.ZipFile(f'{path}COTAHIST_A{i}.zip', 'r') as zip_ref:
        zip_ref.extractall(path)
    i +=1

## Rename files

In [ ]:
os.listdir()

In [ ]:
i = 2000

while i < 2022:
    os.rename(f'COTAHIST_A{i}.TXT', f'COTAHIST_A{i}.txt')
    i +=1

## Setting configurations to read B3 historical files

In [ ]:
pd.set_option('display.max_columns', 500)
pd.options.display.max_columns=500

In [ ]:
path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\B3\txt/'

year = 2022

widths = [2,8,2,12,3,12,10,3,4,13,13,13,13,13,13,13,5,18,18,13,1,8,7,13,12,3]

col_names = [
"tipo_registro",
"data_pregao",
"cod_bdi",
"cod_negociacao",
"tipo_mercado",
"nome_empresa",
"especificacao_papel",
"prazo_dias_merc_termo",
"moeda_referencia",
"preco_abertura",
"preco_maximo",
"preco_minimo",
"preco_medio",
"preco_ultimo_negocio",
"preco_melhor_oferta_compra",
"preco_melhor_oferta_venda",
"numero_negocios",
"quantidade_papeis_negociados",
"volume_total_negociado",
"preco_exercicio",
"ìndicador_correcao_precos",
"data_vencimento" ,
"fator_cotacao",
"preco_exercicio_pontos",
"codigo_isin",
"num_distribuicao_papel"]

decimal_config=[
"preco_abertura",
"preco_maximo",
"preco_minimo",
"preco_medio",
"preco_ultimo_negocio",
"preco_melhor_oferta_compra",
"preco_melhor_oferta_venda",
"volume_total_negociado",
"preco_exercicio",
"preco_exercicio_pontos"
]


remains = [
"data_pregao",
"cod_negociacao",
"tipo_mercado",
"nome_empresa",
"preco_abertura",
"preco_maximo",
"preco_minimo",
"preco_medio",
"preco_ultimo_negocio",
]

In [ ]:
dataset = pd.DataFrame()

In [ ]:
'''     Concatenate DataFrames
year = 2022
while year > 1985:
    df = pd.read_fwf(f'{path}COTAHIST_A{year}.TXT',
                                    encoding='ISO-8859-1',
                                    header=0,
                                    widths=widths,
                                    skipfooter=1,
                                    engine='python',
                                    parse_dates=[1],
                                    infer_datetime_format=True,
                                    index_col=False)
    year -= 1

    #Definindo nomes das colunas
    df.columns = col_names

    #Corrigindo casas decimais
    for col in decimal_config:
        df[col]=df[col]/100

    #Selecionando colunas
    df = df[remains]
    
    #Mascara de empresas desejadas
    mask_empresas = df.cod_negociacao.isin(codigo)

    df = df[mask_empresas]

    dataset = pd.concat([dataset, df], ignore_index=True)
'''

## Export DF - Historical Series

In [ ]:
dataset.to_csv(f'{path}dataset_IBRA.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
pd.read_csv(f'{path}dataset_IBRA.csv',
                encoding='ISO-8859-1',
                sep=';',
                decimal='.',
                index_col=False
                )

# Gathering Data From Yahoo Finance

### Get historical series of brazilian and american indexes
### Get historical series of Gold, Bitcoin and Ethererum
### Get historical series of american companies

## Yahoo Finance

In [ ]:
# Set YFinance setting

symbol_list_br = ['^BVSP','^IBX50']
symbol_list_eua = ['^DJI','^IXIC','^GSPC','GC=F']
symbol_list_crypto = ['BTC-USD', 'ETH-USD']

name_dict={
    '^BVSP':'Ibovespa',
    '^IBX50':'IBrX50',
    '^DJI':'Dow Jones',
    '^IXIC':'NASDAQ',
    '^GSPC':'S&P 500',
    'GC=F':'Ouro ($)',
    'BTC-USD':'Bitcoin ($)',
    'ETH-USD':'Ethereum ($)'
}

col_names = ['date',
"open",
"high",
"low",
"close",
'cod_yfinance']

drop_col = ['Volume','Dividends','Stock Splits']

start = '2000-01-01'
start_br ='2004-11-03'

In [ ]:
# Create empty indexes DataFrames
'''
df_br = pd.DataFrame()
df_eua = pd.DataFrame()
df_crypto = pd.DataFrame()
'''

In [ ]:
# Fill brazilian indexes historical series dataset
'''
for ativo in symbol_list_br:
        chamada_api = yf.Ticker(ativo).history(period='max')
        chamada_api['cod_yfinace'] = ativo
        df_br = pd.concat([df_br, chamada_api])
'''

In [ ]:
# Tranform data from index to column 0
'''
df_br = df_br.drop(drop_col, axis = 1)
df_br.reset_index(inplace=True)
df_br['Date'] = df_br['Date'].dt.date
df_br.columns = col_names
df_br
'''

In [ ]:
# Put indexes names in the DF
df_br['name'] = df_br['cod_yfinance'].map(name_dict)

In [ ]:
# Reroder columns
df_br = df_br[['date','name','open','high','low','close','cod_yfinance']]

In [ ]:
# Save DataFrame
df_br.to_csv(f'{path}index_br.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Read DataFrame
index_br = pd.read_csv(f'{path}index_br.csv',
                    sep = ';',
                    decimal = '.',
                    encoding='ISO-8859-1',
                    index_col=False
)

In [ ]:
index_br

In [ ]:
# Fill american indexes and gold historical series dataset
'''
for ativo in symbol_list_eua:
        chamada_api = yf.Ticker(ativo).history(period='max')
        chamada_api['cod_yfinance'] = ativo
        df_eua = pd.concat([df_eua, chamada_api])
'''

In [ ]:
# Tranform data from index to column 0
'''
df_eua = df_eua.drop(drop_col, axis = 1)
df_eua.reset_index(inplace=True)
df_eua['Date'] = df_eua['Date'].dt.date
df_eua.columns = col_names
df_eua
'''

In [ ]:
# Put indexes names in the DF
df_eua['name'] = df_eua['cod_yfinance'].map(name_dict)

In [ ]:
# Reorder columns
df_eua = df_eua[['date','name','open','high','low','close','cod_yfinance']]

In [ ]:
# Save DataFrame
df_eua.to_csv(f'{path}index_eua.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Read DataFrame
index_eua = pd.read_csv(f'{path}index_eua.csv',
                    sep = ';',
                    decimal = '.',
                    encoding='ISO-8859-1',
                    index_col=False)

In [ ]:
index_eua

In [ ]:
# Fill cripto historical series dataset
'''
for ativo in symbol_list_crypto:
        chamada_api = yf.Ticker(ativo).history(period='max')
        chamada_api['cod_yfinace'] = ativo
        df_crypto = pd.concat([df_crypto, chamada_api])
'''

In [ ]:
# Tranform data from index to column 0
'''
df_crypto = df_crypto.drop(drop_col, axis = 1)
df_crypto.reset_index(inplace=True)
df_crypto['Date'] = df_crypto['Date'].dt.date
df_crypto.columns = col_names
df_crypto
'''

In [ ]:
# Put indexes names in the DF
df_crypto['name'] = df_crypto['cod_yfinance'].map(name_dict)

In [ ]:
# Reorder columns
df_crypto = df_crypto[['date','name','open','high','low','close','cod_yfinance']]

In [ ]:
df_crypto.to_csv(f'{path}crypto.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
crypto = pd.read_csv(f'{path}crypto.csv',
                    sep = ';',
                    decimal = '.',
                    encoding='ISO-8859-1',
                    index_col=False)

In [ ]:
crypto

# Gathering Data - American Companies

### List of american companies and composition of indexes - S&P500, Dow Jones, Nasdaq

## S&P500

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

data = pd.read_html(url)

In [ ]:
data[0].head()

In [ ]:
sp500 = data[0].iloc[:,[0,1,3,4]]

In [ ]:
sp500.columns = ['ticker', 'name', 'sector', 'sub_industry']

In [ ]:
sp500

In [ ]:
sp500.to_csv(f'{path}SP500.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
pd.read_csv(f'{path}SP500.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

## Nasdaq

In [ ]:
url = 'https://en.wikipedia.org/wiki/Nasdaq-100'

data = pd.read_html(url)

In [ ]:
data[4]
nasdaq = data[4]
nasdaq

In [ ]:
nasdaq.columns = ['name','ticker', 'sector', 'sub_industry']

In [ ]:
nasdaq.to_csv(f'{path}NASDAQ.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
nasdaq = pd.read_csv(f'{path}NASDAQ.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

## Dow Jones

In [ ]:
url = 'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average'

data = pd.read_html(url)

In [ ]:
data[1]
dow_jones = data[1].iloc[:,[0,2,3]]
dow_jones

In [ ]:
dow_jones.columns = ['name','ticker', 'sector']

In [ ]:
dow_jones.to_csv(f'{path}DOW_JONES.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
dow_jones = pd.read_csv(f'{path}DOW_JONES.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

## Create DataFrame with all companies in american indexes

In [ ]:
emp_sp500 = sp500['ticker']
set_sp500 = set(emp_sp500)
len(set_sp500)

In [ ]:
emp_nasdaq = nasdaq['ticker']
set_nasdaq = set(emp_nasdaq)
len(set_nasdaq)

In [ ]:
# Companies in Nasdaq that aren't in sp500
print(len(set_nasdaq.difference(set_sp500)))
print(set_nasdaq.difference(set_sp500))
list_nasdaq = list(set_nasdaq.difference(set_sp500))
list_nasdaq

In [ ]:
# Create DF with all companies in both indexes
sp500_concat = pd.concat([sp500,nasdaq.loc[nasdaq['ticker'].isin(list_nasdaq)]], axis=0, ignore_index=True)

In [ ]:
sp500_concat

In [ ]:
# Save DF
sp500_concat.to_csv(f'{path}eua_all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

# Gathering Data - Company's Sector and Industry

### Get sector and sub-sector of all companies using WebScrapping on Yahoo Finance website

In [ ]:
ibra = pd.read_csv(f'{path}IBRA.csv',
                    encoding='ISO-8859-1',
                    sep=';',
                    decimal='.')

ibra = ibra[['ticker','name','sector']]
ibra[['sector','sub_industry']] = np.nan

In [ ]:
ibra

In [ ]:
eua = pd.read_csv(f'{path}eua_all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
eua

In [ ]:
eua.isnull().sum()

In [ ]:
eua[eua['ticker'].str.contains(r'[^a-zA-Z0-9]')]

In [ ]:
# Replace '.' in S&P500 ticker to '-', in order to get the right ticker for yfinance webscrapping
eua['ticker'].replace(r'[^a-zA-Z0-9]', r'-', regex=True, inplace=True)

In [ ]:
#Runs the webdriver
driver = webdriver.Chrome(options=chromeOptions)

In [ ]:
index = 0
wait = 8

for i in eua['ticker']:
    # Get the Yfinance company's url
    url = f'https://finance.yahoo.com/quote/{i}/profile?p={i}'
    driver.get(url)
    driver.implicitly_wait(wait)

    # Get company's sector
    try:
        sector = driver.find_element(By.XPATH, '//*[@id="Col1-0-Profile-Proxy"]/section/div[1]/div/div/p[2]/span[2]')
        driver.implicitly_wait(wait)
        eua.loc[index, 'sector'] = sector.text
    except:
        pass

    # Get company's industry
    try:
        industry = driver.find_element(By.XPATH, '//*[@id="Col1-0-Profile-Proxy"]/section/div[1]/div/div/p[2]/span[4]')
        driver.implicitly_wait(wait)
        eua.loc[index, 'sub_industry'] = industry.text
    except:
        pass

    # Update index
    index +=1

### Checking if all companies in IBRA index have sector and industry

In [ ]:
ibra[ibra['sector'].isna()]

In [ ]:
ibra['sector'].unique()

In [ ]:
ibra[ibra['sector'] == '']

In [ ]:
ibra.loc[[149,151,200]]

In [ ]:
ibra.loc[149,('sector','sub_industry')] = ['Healthcare', 'Drug Manufacturers—Specialty & Generic']
ibra.loc[151,('sector','sub_industry')] = ['Healthcare', 'Drug Manufacturers—Specialty & Generic']
ibra.loc[200,('sector','sub_industry')] = ['Utilities', 'Utilities—Independent Power Producers']

In [ ]:
ibra.to_csv(f'{path}IBRA_sector.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
ibra = ibra.rename({'sub_industry':'industry'}, axis=1)

In [ ]:
ibra

In [ ]:
cod_yfinance = [f'{i}.SA' for i in ibra['ticker']]

In [ ]:
ibra['cod_yfinance'] = cod_yfinance

In [ ]:
ibra['country'] = 'Brazil'

In [ ]:
ibra

### Checking if all companies in eua DataFrame have sector and industry

In [ ]:
eua.isnull().sum()

In [ ]:
eua['sector'].unique()

In [ ]:
# Save Dataframe
eua.to_csv(f'{path}eua_all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
eua = eua.rename({'sub_industry':'industry'}, axis = 1)

In [ ]:
eua['cod_yfinance'] = eua['ticker']

In [ ]:
eua['country'] = 'USA'

In [ ]:
eua

# Updating IBRA dataset - Obsoleto - criar novo dataframe com series históricas retiradas do yfinace para todas as empresas

### (dataset that contains brazilian companies's historical data)

# Create Datasets

### Dataset that contains brazilian and american companies's characteristics
### Dataset that contains brazilian and american companies's historical data
### Dataset that contains brazilian and american indexes, gold, dolar (R$), bitcoin and ethereum  characteristics
### Dataset that contains brazilian and american indexes, gold, dolar (R$), bitcoin and ethereum  historical data

In [ ]:
# Historical dataset is to big to upload to GitHub
stock_path = r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\05. Dados\stock_project_datasets/'

## Dataset with all companies's characteristics

In [ ]:
ibra.head()

In [ ]:
eua.head()

In [ ]:
all_companies = pd.concat([ibra, eua], axis=0, ignore_index=True)

In [ ]:
all_companies.to_csv(f'{stock_path}all_companies.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_rev4.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
all_companies

## Dataset with indexes, gold, dolar (R$), bitcoin and ethereum  characteristics

In [7]:
index_ticker = [
    'IBOV'
    ,'IBRX50'
    ,'NASDAQ'
    ,'DOW JONES'
    ,'SP500'
    ,'GOLD'
    ,'BTC'
    ,'ETH'
    ,'USD-BRL'
]

index_name = [
    'Ibovespa'
    ,'IBrX50'
    ,'Nasdaq 100'
    ,'Dow Jones Industrial Average'
    ,'S&P 500'
    ,'Gold (US$)'
    ,'Bitcoin (US$)'
    ,'Ethereum (US$)'
    ,'Dolar (R$)'
]

index_sector = [
    'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Gold'
    ,'Crypto'
    ,'Crypto'
    ,'Currency'
]

index_industry = [
    'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Gold'
    ,'Crypto'
    ,'Crypto'
    ,'Currency'
]

index_cod = [
    '^BVSP'
    ,'^IBX50'
    ,'NQ=F'
    ,'^DJI'
    ,'^GSPC'
    ,'GC=F'
    ,'BTC-USD'
    ,'ETH-USD'
    ,'BRL=X'
]

index_country = [
    'Brazil'
    ,'Brazil'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'USA'
    ,'Brazil'
]

index_type = [
    'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Index'
    ,'Gold'
    ,'Crypto'
    ,'Crypto'
    ,'Currency'
]

In [ ]:
df_index = pd.DataFrame()
df_index['ticker'] = index_ticker
df_index['name'] = index_name
df_index['sector'] = index_sector
df_index['industry'] = index_industry
df_index['cod_yfinance'] = index_cod
df_index['country'] = index_country
df_index['type'] = index_type

In [ ]:
df_index

In [ ]:
df_index.to_csv(f'{stock_path}all_indexes.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

## Unificating characteristic datasets

In [ ]:
df_index

In [ ]:
all_companies

In [ ]:
all_companies_and_index = pd.concat([all_companies, df_index], axis=0, ignore_index=True)

In [ ]:
all_companies_and_index

In [ ]:
all_companies_and_index.to_csv(f'{stock_path}all_companies_and_indexes.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

## Dataset with all companies and indexes historical data

In [ ]:
# Create empty DataFrame
historical_data = pd.DataFrame()

In [ ]:
# Creating DataFrame with historical data of all companies
for ticker in all_companies_and_index['cod_yfinance']:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(period='max')
    aux_df['cod_yfinance'] = ticker

    historical_data = pd.concat([historical_data, aux_df], axis=0)

In [ ]:
historical_data

In [ ]:
# Check if got all companies historical data
len(historical_data['cod_yfinance'].unique())

In [ ]:
historical_data

In [ ]:
historical_data.info()

In [ ]:
# Drop 2022-12-12
historical_data = historical_data.drop(historical_data[historical_data['Date'] == datetime.date(2022,12,12)].index, axis=0)

In [ ]:
historical_data[historical_data['Date'] == datetime.date(2022,12,9)]

In [ ]:
# Save DataFrame
historical_data.to_csv(f'{stock_path}historical_data_complete_rev5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
# Load DataFrame
historical_data = pd.read_csv(f'{stock_path}historical_data_complete.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
#Transform index to column Date
historical_data.reset_index(inplace=True)

In [ ]:
# Transform date to datetime
historical_data['Date'] = pd.to_datetime(historical_data['Date'], utc=True)

In [ ]:
# Transform datetime to YYYY-MM-DD
historical_data['Date'] = historical_data['Date'].dt.date

In [ ]:
len(historical_data['cod_yfinance'].unique())

### Rounding values

In [ ]:
historical_data

In [ ]:
historical_data['Open'] = historical_data['Open'].round(3)
historical_data['High'] = historical_data['High'].round(3)
historical_data['Low'] = historical_data['Low'].round(3)
historical_data['Close'] = historical_data['Close'].round(3)
historical_data['Dividends'] = historical_data['Dividends'].round(3)

## Dataset with indexes, gold, dolar (R$), bitcoin and ethereum historical data - Obsolete

In [ ]:
# Create empty DataFrame
indexes_historical_data = pd.DataFrame()

In [ ]:
# Creating DataFrame with historical data of all companies
for ticker in df_index['cod_yfinance']:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(start='1927-12-30', end='2022-12-10')
    aux_df['cod_yfinance'] = ticker

    indexes_historical_data = pd.concat([indexes_historical_data, aux_df], axis=0)

In [ ]:
indexes_historical_data

In [ ]:
indexes_historical_data.to_csv(f'{stock_path}indexes_historical_data.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

# Working on companies sector and industry

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
all_companies['sector'].value_counts()

In [ ]:
all_companies['industry'].value_counts()

In [ ]:
all_companies['industry'] = all_companies['industry'].str.replace("—"," - ")

In [ ]:
all_companies[all_companies['industry'].str.contains('-')]

In [ ]:
agf = ['QUAL3'
,'VVBR3'
,'AESB3'
,'WIZS3'
,'BRAP3'
,'BRSR6'
,'BRKM5'
,'BRAP4'
,'BRKM3'
,'BRSR3'
,'CGAS5'
,'TRPL4'
,'VIVT3'
,'TAEE11'
,'TAEE4'
,'TAEE3'
,'CGAS3'
,'ITSA4'
,'CSMG3'
,'ENAT3'
,'ITSA3'
,'SANB11'
,'SANB3'
,'SANB4'
,'GRND3'
,'BRSR5'
,'TRPL3'
,'SAPR4'
,'SAPR3'
,'BBSE3'
,'CMIG4'
,'ALUP11'
,'CLSC3'
,'CMIG4'
,'ELET3'
,'BBAS3'
,'BBDC4'
,'ITUB4'
,'AMBP3'
,'CSAN3'
,'CSAN4'
,'OPCT3'
,'SBSP3'
,'SAPR11'
,'VERZ34'
,'OIBR4'
,'TIMS3'
,'VIVT4'
,'TELB4'
,'TELB3'
,'ATTB34'
]

In [ ]:
all_companies[all_companies['ticker'].isin(agf)]

In [ ]:
all_companies.loc[all_companies['name'].isin(companies)]

In [ ]:
all_companies.loc[(all_companies['name'].isin(companies)) | all_companies['ticker'].isin(agf)].shape

In [ ]:
# Perennial Industry
perennial=[
'Utilities - Diversified'
,'Utilities - Independent Power Producers'
,'Utilities - Regulated Electric'
,'Utilities - Regulated Gas'
,'Utilities - Regulated Water'
,'Utilities - Renewable'
,'Banks - Diversified'
,'Banks - Regional'
,'Insurance - Diversified'
,'Insurance - Life'
,'Insurance - Property & Casualty'
,'Insurance - Reinsurance'
,'Insurance - Specialty'
,'Insurance Brokers'
,'Healthcare Plans'
,'Telecom Services'
,'Waste Management'
,'Oil & Gas E&P'
,'Oil & Gas Equipment & Services'
,'Oil & Gas Integrated'
,'Oil & Gas Midstream'
,'Oil & Gas Refining & Marketing']

In [ ]:
# Perennial subsector
dict_subsector = {
'Utilities - Diversified' : 'Utilities - Electricity'
,'Utilities - Independent Power Producers' : 'Utilities - Electricity'
,'Utilities - Regulated Electric' : 'Utilities - Electricity'
,'Utilities - Regulated Gas' :	'Utilities - Gas'
,'Utilities - Regulated Water' : 'Sanitation'
,'Utilities - Renewable' : 'Utilities - Electricity'
,'Banks - Diversified' : 'Banks'
,'Banks - Regional' : 'Banks'
,'Insurance - Diversified': 'Insurance'
,'Insurance - Life' : 'Insurance'
,'Insurance - Property & Casualty' : 'Insurance'
,'Insurance - Reinsurance' : 'Insurance'
,'Insurance - Specialty' : 'Insurance'
,'Insurance Brokers' : 'Insurance'
,'Healthcare Plans' : 'Health Insurance'
,'Telecom Services' : 'Telecom'
,'Waste Management' : 'Sanitation'
,'Oil & Gas E&P' : 'Oil & Gas'
,'Oil & Gas Equipment & Services' : 'Oil & Gas'
,'Oil & Gas Integrated' : 'Oil & Gas'
,'Oil & Gas Midstream' : 'Oil & Gas'
,'Oil & Gas Refining & Marketing' : 'Oil & Gas'
}

In [ ]:
all_companies

In [ ]:
mask_perennial = all_companies['industry'].isin(perennial)

In [ ]:
# Indetify if the company is in a perennial sector
all_companies.loc[mask_perennial, 'perennial'] = 'Yes'
all_companies.loc[~mask_perennial, 'perennial'] = 'No'

In [ ]:
# Create a subsector for perennial companies
all_companies.loc[mask_perennial, 'perennial_subsector'] =  all_companies.loc[mask_perennial, 'industry'].map(dict_subsector)

In [ ]:
# If the company is not perennial, subsector = industry
all_companies.loc[~mask_perennial, 'perennial_subsector'] = all_companies.loc[~mask_perennial, 'industry']

In [ ]:
all_companies.isnull().sum()

In [ ]:
# Save modified DataFrame
all_companies_rev1.to_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
all_companies_rev2 = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev1.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
all_companies_rev2

In [ ]:
all_companies_rev1 = all_companies_rev1[['cod_yfinance', 'ticker', 'name', 'sector', 'industry', 'perennial_subsector', 'perennial', 'country', 'type']]

In [ ]:
all_companies_rev1

## Get companies in AGF ranking using Selenium

In [ ]:
#Runs the webdriver
driver = webdriver.Chrome(options=chromeOptions)

In [ ]:
driver.implicitly_wait(wait)

In [ ]:
company_name = driver.find_elements(By.CSS_SELECTOR, '.text-secondary')

In [ ]:
companies = [i.text for i in company_name]

In [ ]:
companies

In [ ]:
# Get AGF companies ticker - not working
br_ticker = driver.find_elements(By.XPATH, '//*[contains(concat( " ", @class, " " ), concat( " ", "text-muted", " " ))]')

In [30]:
all_companies.to_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

# Create SQL Database

In [ ]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [ ]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [ ]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [54]:
historical_data_aux = pd.read_csv(f'{stock_path}historical_data_complete_rev5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
historical_data

In [ ]:
all_companies

In [ ]:
engine.execute("USE stocks_project")

In [ ]:
# Create companies Dataset in SQL
all_companies.to_sql(name='companies', con=engine, if_exists='replace', index=False)

In [ ]:
# Create historical data dataset in SQL
historical_data.to_sql(name='historical_data', con=engine, if_exists='replace', index=False) ##if_exists=append

In [ ]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [ ]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [ ]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

# Automate historical data dataset update process

## Testing yfinance historical data

In [ ]:
def create_engine():
    """Create engine to connect to MySQL server

    Returns: 
        engine (sqlalchemy.engine): engine that connects to the stocks_project dataset on MySQL Server 
    """
    
    # Import sql_password
    load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
    sql_password = os.getenv('sql_password')
    
    # Set SQL configurations
    user = "root"
    password = sql_password
    url_banco = "localhost"
    nome_db = "stocks_project"
    conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"  

    # Create engine object
    engine = db.create_engine(conn_str)
    
    return engine

In [ ]:
def add_days_to_date(date, days):
    """Add days to a date and return the date.
    
    Args: 
        date (string): Date string in YYYY-MM-DD format. 
        days (int): Number of days to add to date
    
    Returns: 
        date (date): Date in YYYY-MM-DD with X days added. 
    """
    
    added_date = pd.to_datetime(date) + timedelta(days=days)
    added_date = added_date.strftime("%Y-%m-%d")

    return added_date

In [ ]:
def create_update_dataframe(start, end, ticker_list):
    """Create a DataFrame with last days historical data.
    
    Args: 
        start (string): Date string in YYYY-MM-DD format - One day after the last update 
        end (string): Date string in YYYY-MM-DD format - Today
        ticker_list (iterable): iterable containing yfinance code for the companies and indexes
    
    Returns: 
        df (dataframe): DataFrame with last days historical data. 
    """
    
    df = pd.DataFrame()

    for ticker in ticker_list.loc[0:5]:
        aux_df = pd.DataFrame()
        aux_df = yf.Ticker(ticker).history(start=start, end=end)
        aux_df['cod_yfinance'] = ticker

        df = pd.concat([df, aux_df], axis=0)

    return df

In [ ]:
def format_update_dataframe(dataframe):
    """Transform index to da columns with dates and round Open, High, Low, Close and Dividends columns to 3 decimal places
    
    Args: 
        dataframe (DataFrame): DataFrame containing last days historical data. 
    
    Returns: 
        df (DataFrame): Formated Dataframe. 
    """

    dataframe.reset_index(inplace=True)
    
    # Transform date to datetime
    dataframe['Date'] = pd.to_datetime(dataframe['Date'], utc=True) 

    # Transform datetime to YYYY-MM-DD
    dataframe['Date'] = dataframe['Date'].dt.date

    # Round Columns
    dataframe['Open'] = dataframe['Open'].round(3)
    dataframe['High'] = dataframe['High'].round(3)
    dataframe['Low'] = dataframe['Low'].round(3)
    dataframe['Close'] = dataframe['Close'].round(3)
    dataframe['Dividends'] = dataframe['Dividends'].round(3)

    return dataframe

In [ ]:
def append_update_dataframe(dataframe):
    """Append update DataFrame to SQL dataset

    Args: 
        dataframe (DataFrame): DataFrame, already formated, containing last days historical data. 
    
    Returns**: 
        Append update DataFrame to SQL dataset 
    """

    dataframe.to_sql(name='test_dataset', con=engine, if_exists='append', index=False)

In [ ]:
def get_start_date(engine):
    """Get the start date to be used in 'create_update_dataframe' function

    Args: 
        engine (sqlalchemy.engine): engine that connects to the stocks_project dataset on MySQL Server 
    
    Returns: 
        start (str): date to be used in 'create_update_dataframe' function
    """

    last_update = pd.read_sql(sql = "SELECT MAX(Date) FROM test_dataset", con=engine)
    start = last_update.iloc[0,0]
    start= add_days_to_date(start, 1)

    return start

In [ ]:
def get_end_date():
    """Get today's date to be used as end date in 'create_update_dataframe' function 

    Returns: 
        today (str): Date string in YYYY-MM-DD format - Today
    """
    today = datetime.datetime.now()
    today = today.strftime("%Y-%m-%d")

    return today

In [ ]:
def get_ticker_list(engine):
    """Get the ticker list to be used in 'create_update_dataframe' function

    Args: 
        engine (sqlalchemy.engine): engine that connects to the stocks_project dataset on MySQL Server 
    
    Returns: 
        ticker_list (iterable): iterable containing yfinance code for the companies and indexes
    """

    ticker_list = pd.read_sql(sql='SELECT cod_yfinance FROM companies', con=engine)['cod_yfinance']

    return ticker_list

In [ ]:
engine = create_engine()
engine

In [ ]:
start = get_start_date(engine)
start

In [ ]:
end = get_end_date()
end

In [ ]:
ticker_list = get_ticker_list(engine)
ticker_list

In [ ]:
df = create_update_dataframe(start, end, ticker_list)
df

In [ ]:
df = format_update_dataframe(df)
df

In [ ]:
append_update_dataframe(df)

In [25]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [26]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [27]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

Engine(mysql+pymysql://root:***@localhost/stocks_project)

In [ ]:
type(engine)

In [ ]:
last_update = pd.read_sql(sql = "SELECT MAX(Date) FROM historical_data", con=engine)

In [ ]:
start = last_update.iloc[0,0]

In [ ]:
start

In [ ]:
start = add_days_to_date(start, 1)

In [ ]:
start

In [7]:
ticker_list = pd.read_sql(sql='SELECT cod_yfinance FROM companies', con=engine)['cod_yfinance']

In [ ]:
ticker_list.iloc[-10:-1]

In [ ]:
ticker_list.iloc[-10:]

In [ ]:
today = datetime.datetime.now()
today = today.strftime("%Y-%m-%d")

In [ ]:
today

In [8]:
# Testing yfinance historical data
test_df = pd.DataFrame()
for ticker in ticker_list.iloc[:5]:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(start='2022-12-08', end='2022-12-12')
    aux_df['cod_yfinance'] = ticker

    test_df = pd.concat([test_df, aux_df], axis=0)

In [9]:
test_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
Date,,,,,,,,
2022-12-08 00:00:00-05:00,32.259998,32.410000,32.020000,32.150002,2934900,0,0,IPG
2022-12-09 00:00:00-05:00,32.000000,32.419998,31.840000,32.070000,1766400,0,0,IPG
2022-12-08 00:00:00-05:00,75.830002,76.160004,75.370003,75.610001,1147100,0,0,OMC
2022-12-09 00:00:00-05:00,75.519997,76.410004,75.099998,75.650002,1160300,0,0,OMC
2022-12-08 00:00:00-03:00,14.300000,14.300000,13.680000,13.690000,609800,0,0,TASA4.SA
2022-12-09 00:00:00-03:00,13.900000,13.900000,13.490000,13.590000,368300,0,0,TASA4.SA
2022-12-08 00:00:00-03:00,13.490000,13.690000,13.220000,13.250000,6805100,0,0,EMBR3.SA
2022-12-09 00:00:00-03:00,13.310000,13.410000,13.090000,13.110000,4267300,0,0,EMBR3.SA
2022-12-08 00:00:00-05:00,179.320007,184.880005,178.610001,179.080002,6707700,0,0,BA
2022-12-09 00:00:00-05:00,180.750000,183.889999,179.250000,179.539993,6348800,0,0,BA

In [10]:
test_df.reset_index(inplace=True)

In [11]:
test_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
0,2022-12-08 00:00:00-05:00,32.259998,32.410000,32.020000,32.150002,2934900,0,0,IPG
1,2022-12-09 00:00:00-05:00,32.000000,32.419998,31.840000,32.070000,1766400,0,0,IPG
2,2022-12-08 00:00:00-05:00,75.830002,76.160004,75.370003,75.610001,1147100,0,0,OMC
3,2022-12-09 00:00:00-05:00,75.519997,76.410004,75.099998,75.650002,1160300,0,0,OMC
4,2022-12-08 00:00:00-03:00,14.300000,14.300000,13.680000,13.690000,609800,0,0,TASA4.SA
5,2022-12-09 00:00:00-03:00,13.900000,13.900000,13.490000,13.590000,368300,0,0,TASA4.SA
6,2022-12-08 00:00:00-03:00,13.490000,13.690000,13.220000,13.250000,6805100,0,0,EMBR3.SA
7,2022-12-09 00:00:00-03:00,13.310000,13.410000,13.090000,13.110000,4267300,0,0,EMBR3.SA
8,2022-12-08 00:00:00-05:00,179.320007,184.880005,178.610001,179.080002,6707700,0,0,BA
9,2022-12-09 00:00:00-05:00,180.750000,183.889999,179.250000,179.539993,6348800,0,0,BA

In [12]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          10 non-null     object
 1   Open          10 non-null     float64
 2   High          10 non-null     float64
 3   Low           10 non-null     float64
 4   Close         10 non-null     float64
 5   Volume        10 non-null     int64
 6   Dividends     10 non-null     int64
 7   Stock Splits  10 non-null     int64
 8   cod_yfinance  10 non-null     object
dtypes: float64(4), int64(3), object(2)
memory usage: 848.0+ bytes

In [13]:
# Transform date to datetime
test_df['Date'] = pd.to_datetime(test_df['Date'], utc=True)

In [14]:
# Transform datetime to YYYY-MM-DD
test_df['Date'] = test_df['Date'].dt.date

In [15]:
test_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
0,2022-12-08,32.259998,32.410000,32.020000,32.150002,2934900,0,0,IPG
1,2022-12-09,32.000000,32.419998,31.840000,32.070000,1766400,0,0,IPG
2,2022-12-08,75.830002,76.160004,75.370003,75.610001,1147100,0,0,OMC
3,2022-12-09,75.519997,76.410004,75.099998,75.650002,1160300,0,0,OMC
4,2022-12-08,14.300000,14.300000,13.680000,13.690000,609800,0,0,TASA4.SA
5,2022-12-09,13.900000,13.900000,13.490000,13.590000,368300,0,0,TASA4.SA
6,2022-12-08,13.490000,13.690000,13.220000,13.250000,6805100,0,0,EMBR3.SA
7,2022-12-09,13.310000,13.410000,13.090000,13.110000,4267300,0,0,EMBR3.SA
8,2022-12-08,179.320007,184.880005,178.610001,179.080002,6707700,0,0,BA
9,2022-12-09,180.750000,183.889999,179.250000,179.539993,6348800,0,0,BA

In [16]:
test_df['Open'] = test_df['Open'].round(3)
test_df['High'] = test_df['High'].round(3)
test_df['Low'] = test_df['Low'].round(3)
test_df['Close'] = test_df['Close'].round(3)
test_df['Dividends'] = test_df['Dividends'].round(3)

In [17]:
test_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
0,2022-12-08,32.26,32.41,32.02,32.15,2934900,0,0,IPG
1,2022-12-09,32.00,32.42,31.84,32.07,1766400,0,0,IPG
2,2022-12-08,75.83,76.16,75.37,75.61,1147100,0,0,OMC
3,2022-12-09,75.52,76.41,75.10,75.65,1160300,0,0,OMC
4,2022-12-08,14.30,14.30,13.68,13.69,609800,0,0,TASA4.SA
5,2022-12-09,13.90,13.90,13.49,13.59,368300,0,0,TASA4.SA
6,2022-12-08,13.49,13.69,13.22,13.25,6805100,0,0,EMBR3.SA
7,2022-12-09,13.31,13.41,13.09,13.11,4267300,0,0,EMBR3.SA
8,2022-12-08,179.32,184.88,178.61,179.08,6707700,0,0,BA
9,2022-12-09,180.75,183.89,179.25,179.54,6348800,0,0,BA

In [18]:
test_df.to_sql(name='test_dataset', con=engine, if_exists='replace', index=False)

10

In [28]:
all_companies.to_sql(name='companies', con=engine, if_exists='replace', index=False)

735

In [ ]:
# Testing yfinance historical data
test_df = pd.DataFrame()

for ticker in ticker_list.loc[0:5]:
    aux_df = pd.DataFrame()
    aux_df = yf.Ticker(ticker).history(start='2022-12-09', end='2022-12-10')
    aux_df['cod_yfinance'] = ticker

    test_df = pd.concat([test_df, aux_df], axis=0)

In [ ]:
test_df

In [ ]:
test_df.reset_index(inplace=True)

In [ ]:
test_df

In [ ]:
test_df.info()

In [ ]:
# Transform date to datetime
test_df['Date'] = pd.to_datetime(test_df['Date'], utc=True)

In [ ]:
# Transform datetime to YYYY-MM-DD
test_df['Date'] = test_df['Date'].dt.date

In [ ]:
test_df

In [ ]:
test_df['Open'] = test_df['Open'].round(3)
test_df['High'] = test_df['High'].round(3)
test_df['Low'] = test_df['Low'].round(3)
test_df['Close'] = test_df['Close'].round(3)
test_df['Dividends'] = test_df['Dividends'].round(3)

In [ ]:
test_df

In [ ]:
test_df.to_sql(name='test_dataset', con=engine, if_exists='append', index=False)

# Analisys

In [8]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [9]:
historical_data = pd.read_csv(f'{stock_path}historical_data_complete_rev5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [33]:
# Masks
country_br = all_companies['country'] == 'Brazil'
country_usa = all_companies['country'] == 'USA'

type_company = all_companies['type'] == 'Company'
type_index = all_companies['type'] == 'Index'
type_gold = all_companies['type'] == 'Gold'
type_crypto = all_companies['type'] == 'Crypto'
type_currency = all_companies['type'] == 'Currency'

perennial = all_companies['perennial'] == 'Yes'

subsector_uti_elec = all_companies['perennial_subsector'] == 'Utilities - Electricity'
subsector_uti_gas = all_companies['perennial_subsector'] == 'Utilities - Gas'
subsector_sanit = all_companies['perennial_subsector'] == 'Sanitation'
subsector_banks = all_companies['perennial_subsector'] == 'Banks'
subsector_insurance = all_companies['perennial_subsector'] == 'Insurance'
subsector_healh_ins = all_companies['perennial_subsector'] == 'Health Insurance'
subsector_telecom = all_companies['perennial_subsector'] == 'Telecom'
subsector_oil = all_companies['perennial_subsector'] == 'Oil & Gas'

In [55]:
historical_data.loc[historical_data['Date'] == '2012-02-22'].head(60)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
8057,2012-02-22,7.651,7.786,7.651,7.673,3224000.0,0.000,0.0,IPG
18834,2012-02-22,34.840,34.969,34.633,34.676,1069500.0,0.000,0.0,OMC
45704,2012-02-22,62.191,62.801,61.986,62.603,3764800.0,0.000,0.0,BA
61046,2012-02-22,55.242,55.414,54.682,54.806,1423200.0,0.000,0.0,GD
65536,2012-02-22,30.857,31.087,30.386,30.694,133500.0,0.000,0.0,HII
75860,2012-02-22,33.776,33.855,33.327,33.429,856500.0,0.000,0.0,LHX
87446,2012-02-22,62.369,62.905,62.312,62.569,1241400.0,0.000,0.0,LMT
97770,2012-02-22,48.260,48.761,48.138,48.526,1624300.0,0.000,0.0,NOC
113049,2012-02-22,40.836,41.031,40.612,40.860,5045870.0,0.000,0.0,RTX
125612,2012-02-22,26.990,27.313,26.833,27.196,2419400.0,0.000,0.0,TXT
129828,2012-02-22,58.398,59.202,57.765,58.966,353900.0,0.000,0.0,TDG
138426,2012-02-22,27.966,28.644,27.966,28.308,6795000.0,0.000,0.0,CF
150098,2012-02-22,36.931,37.460,36.638,37.017,1711283.0,0.000,0.0,FMC
158888,2012-02-22,49.565,49.606,48.341,48.941,11108900.0,0.000,0.0,MOS
175672,2012-02-22,16.198,16.389,15.694,15.755,4262000.0,0.000,0.0,ALK
180004,2012-02-22,7.448,7.617,7.250,7.259,5383700.0,0.000,0.0,AAL
183935,2012-02-22,8.882,9.069,8.820,8.820,9361000.0,0.000,0.0,DAL
194764,2012-02-22,8.402,8.513,8.327,8.392,5521300.0,0.000,0.0,LUV
199006,2012-02-22,21.200,21.710,20.860,20.940,8776000.0,0.000,0.0,UAL
205775,2012-02-22,142.538,143.209,141.875,142.058,896300.0,0.000,0.0,RL
216552,2012-02-22,25.776,25.970,25.653,25.837,3756931.0,0.000,0.0,VFC
236067,2012-02-22,23.537,24.196,23.537,23.889,5200400.0,0.000,0.0,ROST
245004,2012-02-22,15.384,15.449,14.992,15.266,15113600.0,0.000,0.0,TJX
248876,2012-02-22,63.770,65.340,63.490,65.000,1133600.0,0.000,0.0,LULU
264744,2012-02-22,43.724,43.724,43.074,43.229,1942400.0,0.000,0.0,AMP
270581,2012-02-22,145.116,146.547,144.890,145.726,483500.0,0.000,0.0,BLK
283094,2012-02-22,17.380,17.380,17.090,17.145,6013500.0,0.000,0.0,BK
292980,2012-02-22,26.629,26.729,26.320,26.397,2148000.0,0.000,0.0,BEN
299852,2012-02-22,16.361,16.473,16.275,16.328,4164500.0,0.000,0.0,IVZ
310629,2012-02-22,33.576,33.660,33.044,33.129,949300.0,0.000,0.0,NTRS
315950,2012-02-22,18.886,18.927,18.549,18.597,1309300.0,0.000,0.0,PFG
326727,2012-02-22,31.125,31.125,30.743,30.844,2737400.0,0.000,0.0,STT
335977,2012-02-22,43.935,44.112,43.444,43.480,1282300.0,0.000,0.0,TROW
342484,2012-02-22,30.010,30.800,30.010,30.390,2014400.0,0.000,0.0,KMX
349720,2012-02-22,5.762,5.811,5.724,5.770,1483200.0,0.000,0.0,CPRT
362463,2012-02-22,8.190,8.203,8.013,8.053,43326000.0,0.000,0.0,F
365499,2012-02-22,20.836,20.874,20.413,20.428,10693300.0,0.000,0.0,GM
368635,2012-02-22,2.300,2.315,2.167,2.281,24819000.0,0.000,0.0,TSLA
387926,2012-02-22,23.785,24.014,23.218,23.762,1731878.0,0.000,0.0,APTV
395312,2012-02-22,35.003,35.251,34.885,34.985,1622400.0,0.000,0.0,BWA
400142,2012-02-22,15.758,15.846,15.558,15.729,1288000.0,0.000,0.0,LKQ
412705,2012-02-22,6.816,6.875,6.723,6.723,228867800.0,0.000,0.0,BAC
424291,2012-02-22,27.315,27.414,26.743,26.809,38321200.0,0.000,0.0,C
435068,2012-02-22,28.383,28.450,28.087,28.212,23416900.0,0.000,0.0,JPM
447811,2012-02-22,22.607,22.688,22.387,22.453,29074600.0,0.000,0.0,WFC
474210,2012-02-22,NaN,NaN,NaN,NaN,NaN,0.157,0.0,BBAS3.SA
507596,2012-02-22,22.045,22.643,22.015,22.052,4119200.0,0.000,0.0,CMA
518373,2012-02-22,10.099,10.121,9.859,9.888,8667400.0,0.000,0.0,FITB
521395,2012-02-22,29.698,29.725,29.275,29.404,452200.0,0.000,0.0,FRC
532172,2012-02-22,4.225,4.239,4.154,4.176,13886600.0,0.000,0.0,HBAN
541017,2012-02-22,5.827,5.834,5.689,5.704,9042700.0,0.000,0.0,KEY
551794,2012-02-22,62.137,62.137,60.672,60.762,494700.0,0.000,0.0,MTB
563664,2012-02-22,45.616,45.750,44.562,44.637,2515600.0,0.000,0.0,PNC
574441,2012-02-22,4.485,4.500,4.334,4.387,18396100.0,0.000,0.0,RF
579155,2012-02-22,55.730,55.730,54.248,54.453,256500.0,0.000,0.0,SBNY
588008,2012-02-22,59.640,60.160,59.120,59.160,280300.0,0.000,0.0,SIVB
598784,2012-02-22,21.264,21.264,20.846,20.888,4713200.0,0.000,0.0,TFC
611297,2012-02-22,21.450,21.538,21.258,21.294,10810100.0,0.000,0.0,USB
622074,2012-02-22,16.343,16.376,15.655,15.756,3669100.0,0.000,0.0,ZION
639816,2012-02-22,34.811,34.951,34.484,34.538,1341700.0,0.000,0.0,TAP

In [ ]:
474210

In [ ]:
467086
470795
4794649
482460
1354271

In [78]:
historical_data_aux = historical_data_aux.drop([467086,470795,4794649,482460,1354271])

In [79]:
historical_data_aux.loc[(historical_data_aux['Date'] == '2021-05-02') & (historical_data_aux['cod_yfinance'].isin(all_companies.loc[country_br, 'cod_yfinance']))]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
4912629,2021-05-02,5.44,5.452,5.373,5.44,0.0,0.0,0.0,BRL=X

In [82]:
historical_data.loc[(historical_data['Date'] == '2021-05-02') & (historical_data['cod_yfinance'].isin(all_companies.loc[country_br, 'cod_yfinance']))]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
1354271,2021-05-02,NaN,NaN,NaN,NaN,NaN,0.087,0.0,SEER3.SA
4912629,2021-05-02,5.44,5.452,5.373,5.44,0.0,0.000,0.0,BRL=X

In [83]:
historical_data.shape

(4913049, 9)

In [85]:
historical_data.dropna(axis = 0, subset=['Close']).shape

(4913040, 9)

In [87]:
historical_data_aux_1 = historical_data.dropna(axis = 0, subset=['Close'])

In [89]:
historical_data_aux_1.shape

(4913040, 9)

In [40]:
historical_data.loc[(historical_data["Date"] == '2018-07-30') & historical_data['cod_yfinance'].isin(all_companies.loc[type_company & country_br & subsector_banks, 'cod_yfinance']), 'Close'].mean()

16.7066

In [35]:
all_companies.loc[type_company & country_br & subsector_banks, 'cod_yfinance']

63     ABCB4.SA
64     BPAN4.SA
65     BRSR6.SA
66     BBDC3.SA
67     BBDC4.SA
68     BBAS3.SA
69     ITSA4.SA
70     ITUB3.SA
71     ITUB4.SA
72     MODL3.SA
73    SANB11.SA
Name: cod_yfinance, dtype: object

In [41]:
all_companies[subsector_oil]

,cod_yfinance,ticker,name,sector,industry,perennial_subsector,perennial,country,type
377,RRRP3.SA,RRRP3,3R PETROLEUM,Energy,Oil & Gas E&P,Oil & Gas,Yes,Brazil,Company
378,DMMO3.SA,DMMO3,DOMMO,Energy,Oil & Gas E&P,Oil & Gas,Yes,Brazil,Company
379,ENAT3.SA,ENAT3,ENAUTA PART,Energy,Oil & Gas E&P,Oil & Gas,Yes,Brazil,Company
380,RECV3.SA,RECV3,PETRORECSA,Energy,Oil & Gas E&P,Oil & Gas,Yes,Brazil,Company
381,PRIO3.SA,PRIO3,PETRORIO,Energy,Oil & Gas E&P,Oil & Gas,Yes,Brazil,Company
382,APA,APA,APA Corporation,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
383,COP,COP,ConocoPhillips,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
384,CTRA,CTRA,Coterra,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
385,DVN,DVN,Devon Energy,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
386,FANG,FANG,Diamondback Energy,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
387,EOG,EOG,EOG Resources,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
388,EQT,EQT,EQT,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
389,HES,HES,Hess Corporation,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
390,MRO,MRO,Marathon Oil,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
391,OXY,OXY,Occidental Petroleum,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
392,PXD,PXD,Pioneer Natural Resources,Energy,Oil & Gas E&P,Oil & Gas,Yes,USA,Company
393,BKR,BKR,Baker Hughes,Energy,Oil & Gas Equipment & Services,Oil & Gas,Yes,USA,Company
394,HAL,HAL,Halliburton,Energy,Oil & Gas Equipment & Services,Oil & Gas,Yes,USA,Company
395,SLB,SLB,Schlumberger,Energy,Oil & Gas Equipment & Services,Oil & Gas,Yes,USA,Company
396,PETR3.SA,PETR3,PETROBRAS,Energy,Oil & Gas Integrated,Oil & Gas,Yes,Brazil,Company
397,PETR4.SA,PETR4,PETROBRAS,Energy,Oil & Gas Integrated,Oil & Gas,Yes,Brazil,Company
398,CVX,CVX,Chevron Corporation,Energy,Oil & Gas Integrated,Oil & Gas,Yes,USA,Company
399,XOM,XOM,ExxonMobil,Energy,Oil & Gas Integrated,Oil & Gas,Yes,USA,Company
400,KMI,KMI,Kinder Morgan,Energy,Oil & Gas Midstream,Oil & Gas,Yes,USA,Company
401,OKE,OKE,ONEOK,Energy,Oil & Gas Midstream,Oil & Gas,Yes,USA,Company
402,TRGP,TRGP,Targa Resources,Energy,Oil & Gas Midstream,Oil & Gas,Yes,USA,Company
403,WMB,WMB,Williams Companies,Energy,Oil & Gas Midstream,Oil & Gas,Yes,USA,Company
404,CSAN3.SA,CSAN3,COSAN,Energy,Oil & Gas Refining & Marketing,Oil & Gas,Yes,Brazil,Company
405,UGPA3.SA,UGPA3,ULTRAPAR,Energy,Oil & Gas Refining & Marketing,Oil & Gas,Yes,Brazil,Company
406,MPC,MPC,Marathon Petroleum,Energy,Oil & Gas Refining & Marketing,Oil & Gas,Yes,USA,Company
407,PSX,PSX,Phillips 66,Energy,Oil & Gas Refining & Marketing,Oil & Gas,Yes,USA,Company
408,VLO,VLO,Valero Energy,Energy,Oil & Gas Refining & Marketing,Oil & Gas,Yes,USA,Company

In [72]:
all_companies.loc[perennial & country_br, 'perennial_subsector'].value_counts()

Real Estate Services             7
Steel                            7
Specialty Retail                 7
Packaged Foods                   6
Real Estate - Development        5
                                ..
Household & Personal Products    1
Lumber & Wood Production         1
Leisure                          1
Industrial Distribution          1
Currency                         1
Name: perennial_subsector, Length: 63, dtype: int64

In [44]:
all_companies['type'].unique()

array(['Company', 'Index', 'Gold', 'Crypto', 'Currency'], dtype=object)

In [74]:
df_company_br = all_companies[country_br & type_company]
df_company_usa = all_companies[country_usa & type_company]

In [76]:
df_company_usa.shape

(525, 9)

In [24]:
all_companies

,cod_yfinance,ticker,name,sector,industry,perennial_subsector,perennial,country,type
0,IPG,IPG,The Interpublic Group of Companies,Communication Services,Advertising Agencies,Advertising Agencies,No,USA,Company
1,OMC,OMC,Omnicom Group,Communication Services,Advertising Agencies,Advertising Agencies,No,USA,Company
2,TASA4.SA,TASA4,TAURUS ARMAS,Industrials,Aerospace & Defense,Aerospace & Defense,No,Brazil,Company
3,EMBR3.SA,EMBR3,EMBRAER,Industrials,Aerospace & Defense,Aerospace & Defense,No,Brazil,Company
4,BA,BA,Boeing,Industrials,Aerospace & Defense,Aerospace & Defense,No,USA,Company
...,...,...,...,...,...,...,...,...,...
730,^GSPC,SP500,S&P 500,Index,Index,Index,No,USA,Index
731,GC=F,GOLD,Gold (US$),Gold,Gold,Gold,No,USA,Gold
732,BTC-USD,BTC,Bitcoin (US$),Crypto,Crypto,Crypto,No,USA,Crypto
733,ETH-USD,ETH,Ethereum (US$),Crypto,Crypto,Crypto,No,USA,Crypto
734,BRL=X,USD-BRL,Dolar (R$),Currency,Currency,Currency,No,Brazil,Currency

In [25]:
historical_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
0,1980-03-17,0.000,0.426,0.420,0.420,43200.0,0.0,0.0,IPG
1,1980-03-18,0.000,0.417,0.417,0.417,327600.0,0.0,0.0,IPG
2,1980-03-19,0.000,0.417,0.417,0.417,115200.0,0.0,0.0,IPG
3,1980-03-20,0.000,0.420,0.420,0.420,28800.0,0.0,0.0,IPG
4,1980-03-21,0.000,0.420,0.420,0.420,554400.0,0.0,0.0,IPG
...,...,...,...,...,...,...,...,...,...
4913044,2022-12-05,5.218,5.264,5.214,5.218,0.0,0.0,0.0,BRL=X
4913045,2022-12-06,5.280,5.281,5.220,5.280,0.0,0.0,0.0,BRL=X
4913046,2022-12-07,5.234,5.270,5.210,5.234,0.0,0.0,0.0,BRL=X
4913047,2022-12-08,5.204,5.248,5.194,5.204,0.0,0.0,0.0,BRL=X
4913048,2022-12-09,5.224,5.280,5.215,5.224,0.0,0.0,0.0,BRL=X

In [42]:
historical_data.loc[historical_data['cod_yfinance'].isin(['^GSPC'])]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,cod_yfinance
4874222,1927-12-30,17.66,17.66,17.66,17.66,0.000000e+00,0.0,0.0,^GSPC
4874223,1928-01-03,17.76,17.76,17.76,17.76,0.000000e+00,0.0,0.0,^GSPC
4874224,1928-01-04,17.72,17.72,17.72,17.72,0.000000e+00,0.0,0.0,^GSPC
4874225,1928-01-05,17.55,17.55,17.55,17.55,0.000000e+00,0.0,0.0,^GSPC
4874226,1928-01-06,17.66,17.66,17.66,17.66,0.000000e+00,0.0,0.0,^GSPC
...,...,...,...,...,...,...,...,...,...
4898068,2022-12-05,4052.02,4052.45,3984.49,3998.84,4.280820e+09,0.0,0.0,^GSPC
4898069,2022-12-06,3996.63,4001.51,3918.39,3941.26,4.368380e+09,0.0,0.0,^GSPC
4898070,2022-12-07,3933.28,3957.57,3922.68,3933.92,4.118050e+09,0.0,0.0,^GSPC
4898071,2022-12-08,3947.79,3974.19,3935.83,3963.51,4.006900e+09,0.0,0.0,^GSPC
4898072,2022-12-09,3954.17,3977.02,3933.04,3934.38,3.888260e+09,0.0,0.0,^GSPC

In [105]:
historical_data.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume          float64
Dividends       float64
Stock Splits    float64
cod_yfinance     object
dtype: object

In [78]:
df_company_br

,cod_yfinance,ticker,name,sector,industry,perennial_subsector,perennial,country,type
2,TASA4.SA,TASA4,TAURUS ARMAS,Industrials,Aerospace & Defense,Aerospace & Defense,No,Brazil,Company
3,EMBR3.SA,EMBR3,EMBRAER,Industrials,Aerospace & Defense,Aerospace & Defense,No,Brazil,Company
14,TTEN3.SA,TTEN3,3TENTOS,Basic Materials,Agricultural Inputs,Agricultural Inputs,No,Brazil,Company
15,FHER3.SA,FHER3,FER HERINGER,Basic Materials,Agricultural Inputs,Agricultural Inputs,No,Brazil,Company
20,AZUL4.SA,AZUL4,AZUL,Industrials,Airlines,Airlines,No,Brazil,Company
...,...,...,...,...,...,...,...,...,...
717,ENGI11.SA,ENGI11,ENERGISA,Utilities,Utilities - Renewable,Utilities - Electricity,Yes,Brazil,Company
718,LIGT3.SA,LIGT3,LIGHT S/A,Utilities,Utilities - Renewable,Utilities - Electricity,Yes,Brazil,Company
719,MEGA3.SA,MEGA3,OMEGAENERGIA,Utilities,Utilities - Renewable,Utilities - Electricity,Yes,Brazil,Company
721,AMBP3.SA,AMBP3,AMBIPAR,Industrials,Waste Management,Sanitation,Yes,Brazil,Company
722,ORVR3.SA,ORVR3,ORIZON,Industrials,Waste Management,Sanitation,Yes,Brazil,Company

In [87]:
df_br_pivot = pd.pivot_table(historical_data[historical_data['cod_yfinance'].isin(df_company_br["cod_yfinance"].unique())], index='Date', columns='cod_yfinance', values='Close')

In [101]:
df_br_pivot.columns.tolist()

['AALR3.SA',
 'ABCB4.SA',
 'ABEV3.SA',
 'AERI3.SA',
 'AESB3.SA',
 'AGRO3.SA',
 'ALPA4.SA',
 'ALSO3.SA',
 'ALUP11.SA',
 'AMAR3.SA',
 'AMBP3.SA',
 'AMER3.SA',
 'ANIM3.SA',
 'ARML3.SA',
 'ARZZ3.SA',
 'ASAI3.SA',
 'AURE3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BBAS3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BBSE3.SA',
 'BEEF3.SA',
 'BLAU3.SA',
 'BMOB3.SA',
 'BOAS3.SA',
 'BPAC11.SA',
 'BPAN4.SA',
 'BRAP3.SA',
 'BRAP4.SA',
 'BRFS3.SA',
 'BRKM5.SA',
 'BRML3.SA',
 'BRPR3.SA',
 'BRSR6.SA',
 'CAML3.SA',
 'CASH3.SA',
 'CBAV3.SA',
 'CCRO3.SA',
 'CEAB3.SA',
 'CIEL3.SA',
 'CLSA3.SA',
 'CMIG3.SA',
 'CMIG4.SA',
 'CMIN3.SA',
 'COGN3.SA',
 'CPFE3.SA',
 'CPLE3.SA',
 'CPLE6.SA',
 'CRFB3.SA',
 'CSAN3.SA',
 'CSMG3.SA',
 'CSNA3.SA',
 'CURY3.SA',
 'CVCB3.SA',
 'CXSE3.SA',
 'CYRE3.SA',
 'DASA3.SA',
 'DESK3.SA',
 'DIRR3.SA',
 'DMMO3.SA',
 'DXCO3.SA',
 'ECOR3.SA',
 'EGIE3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'EMBR3.SA',
 'ENAT3.SA',
 'ENBR3.SA',
 'ENEV3.SA',
 'ENGI11.SA',
 'ENJU3.SA',
 'EQTL3.SA',
 'ESPA3.SA',
 'EVEN3.SA',
 'EZTC3.SA',
 'FESA4.SA',
 'FHER3.SA',
 'FLRY3.SA',
 'GETT11.SA',
 'GFSA3.SA',
 'GGBR4.SA',
 'GGPS3.SA',
 'GMAT3.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'GRND3.SA',
 'GUAR3.SA',
 'HAPV3.SA',
 'HBOR3.SA',
 'HBSA3.SA',
 'HYPE3.SA',
 'IFCM3.SA',
 'IGTI11.SA',
 'INTB3.SA',
 'IRBR3.SA',
 'ITSA4.SA',
 'ITUB3.SA',
 'ITUB4.SA',
 'JALL3.SA',
 'JBSS3.SA',
 'JHSF3.SA',
 'KEPL3.SA',
 'KLBN11.SA',
 'LAVV3.SA',
 'LEVE3.SA',
 'LIGT3.SA',
 'LJQQ3.SA',
 'LOGG3.SA',
 'LOGN3.SA',
 'LREN3.SA',
 'LWSA3.SA',
 'MATD3.SA',
 'MDIA3.SA',
 'MEAL3.SA',
 'MEGA3.SA',
 'MGLU3.SA',
 'MILS3.SA',
 'MLAS3.SA',
 'MODL3.SA',
 'MOVI3.SA',
 'MRFG3.SA',
 'MRVE3.SA',
 'MULT3.SA',
 'MYPK3.SA',
 'NEOE3.SA',
 'NGRD3.SA',
 'NTCO3.SA',
 'ODPV3.SA',
 'ONCO3.SA',
 'OPCT3.SA',
 'ORVR3.SA',
 'PARD3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'PETZ3.SA',
 'PGMN3.SA',
 'PNVL3.SA',
 'POMO4.SA',
 'POSI3.SA',
 'PRIO3.SA',
 'PSSA3.SA',
 'PTBL3.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RAIL3.SA',
 'RAIZ4.SA',
 'RANI3.SA',
 'RAPT4.SA',
 'RCSL3.SA',
 'RDOR3.SA',
 'RECV3.SA',
 'RENT3.SA',
 'ROMI3.SA',
 'RRRP3.SA',
 'SANB11.SA',
 'SAPR11.SA',
 'SBFG3.SA',
 'SBSP3.SA',
 'SEER3.SA',
 'SEQL3.SA',
 'SIMH3.SA',
 'SLCE3.SA',
 'SMFT3.SA',
 'SMTO3.SA',
 'SOMA3.SA',
 'SQIA3.SA',
 'STBP3.SA',
 'SULA11.SA',
 'SUZB3.SA',
 'SYNE3.SA',
 'TAEE11.SA',
 'TASA4.SA',
 'TECN3.SA',
 'TEND3.SA',
 'TGMA3.SA',
 'TIMS3.SA',
 'TOTS3.SA',
 'TRAD3.SA',
 'TRIS3.SA',
 'TRPL4.SA',
 'TTEN3.SA',
 'TUPY3.SA',
 'UGPA3.SA',
 'UNIP6.SA',
 'USIM3.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VAMO3.SA',
 'VBBR3.SA',
 'VIIA3.SA',
 'VIVA3.SA',
 'VIVT3.SA',
 'VLID3.SA',
 'VULC3.SA',
 'WEGE3.SA',
 'WIZS3.SA',
 'YDUQ3.SA',
 'ZAMP3.SA']

In [99]:
df_br_pivot.loc['2018-01-03',df_br_pivot.loc['2018-01-03'].isnull()]

cod_yfinance
AERI3.SA    NaN
AESB3.SA    NaN
AMBP3.SA    NaN
ARML3.SA    NaN
ASAI3.SA    NaN
AURE3.SA    NaN
BLAU3.SA    NaN
BMOB3.SA    NaN
BOAS3.SA    NaN
CASH3.SA    NaN
CBAV3.SA    NaN
CEAB3.SA    NaN
CLSA3.SA    NaN
CMIN3.SA    NaN
CURY3.SA    NaN
CXSE3.SA    NaN
DESK3.SA    NaN
ENJU3.SA    NaN
ESPA3.SA    NaN
GETT11.SA   NaN
GGPS3.SA    NaN
GMAT3.SA    NaN
HAPV3.SA    NaN
HBSA3.SA    NaN
IFCM3.SA    NaN
IGTI11.SA   NaN
INTB3.SA    NaN
JALL3.SA    NaN
LAVV3.SA    NaN
LJQQ3.SA    NaN
LOGG3.SA    NaN
LWSA3.SA    NaN
MATD3.SA    NaN
MEGA3.SA    NaN
MLAS3.SA    NaN
MODL3.SA    NaN
NEOE3.SA    NaN
NGRD3.SA    NaN
NTCO3.SA    NaN
ONCO3.SA    NaN
OPCT3.SA    NaN
ORVR3.SA    NaN
PETZ3.SA    NaN
PGMN3.SA    NaN
RAIZ4.SA    NaN
RDOR3.SA    NaN
RECV3.SA    NaN
RRRP3.SA    NaN
SBFG3.SA    NaN
SEQL3.SA    NaN
SIMH3.SA    NaN
SMFT3.SA    NaN
SOMA3.SA    NaN
TRAD3.SA    NaN
TTEN3.SA    NaN
VAMO3.SA    NaN
VBBR3.SA    NaN
VIVA3.SA    NaN
Name: 2018-01-03, dtype: float64

In [12]:
all_companies.tail(10)

,cod_yfinance,ticker,name,sector,industry,perennial_subsector,perennial,country,type
725,VTRS,VTRS,Viatris,Healthcare,Drug Manufacturers - Specialty & Generic,Drug Manufacturers - Specialty & Generic,No,USA,Company
726,^BVSP,IBOV,Ibovespa,Index,Index,Index,No,Brazil,Index
727,^IBX50,IBRX50,IBrX50,Index,Index,Index,No,Brazil,Index
728,^DJI,NASDAQ,Nasdaq 100,Index,Index,Index,No,USA,Index
729,NQ=F,DOW JONES,Dow Jones Industrial Average,Index,Index,Index,No,USA,Index
730,^GSPC,SP500,S&P 500,Index,Index,Index,No,USA,Index
731,GC=F,GOLD,Gold (US$),Gold,Gold,Gold,No,USA,Gold
732,BTC-USD,BTC,Bitcoin (US$),Crypto,Crypto,Crypto,No,USA,Crypto
733,ETH-USD,ETH,Ethereum (US$),Crypto,Crypto,Crypto,No,USA,Crypto
734,BRL=X,USD-BRL,Dolar (R$),Currency,Currency,Currency,No,Brazil,Currency

In [23]:
all_companies.loc[[729], 'name'] = 'Dow Jones'

In [24]:
all_companies.tail(10)

,cod_yfinance,ticker,name,sector,industry,perennial_subsector,perennial,country,type
725,VTRS,VTRS,Viatris,Healthcare,Drug Manufacturers - Specialty & Generic,Drug Manufacturers - Specialty & Generic,No,USA,Company
726,^BVSP,IBOV,Ibovespa,Index,Index,Index,No,Brazil,Index
727,^IBX50,IBRX50,IBrX50,Index,Index,Index,No,Brazil,Index
728,NQ=F,NASDAQ100,Nasdaq 100,Index,Index,Index,No,USA,Index
729,^DJI,DOW JONES,Dow Jones,Index,Index,Index,No,USA,Index
730,^GSPC,SP500,S&P 500,Index,Index,Index,No,USA,Index
731,GC=F,GOLD,Gold (US$),Gold,Gold,Gold,No,USA,Gold
732,BTC-USD,BTC,Bitcoin (US$),Crypto,Crypto,Crypto,No,USA,Crypto
733,ETH-USD,ETH,Ethereum (US$),Crypto,Crypto,Crypto,No,USA,Crypto
734,BRL=X,USD-BRL,Dolar (R$),Currency,Currency,Currency,No,Brazil,Currency

In [21]:
all_companies = all_companies.drop('Ticker', axis=1)

# Read and Save

In [ ]:
# Save modified DataFrame
all_companies.to_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [ ]:
all_companies = pd.read_csv(f'{stock_path}all_companies_and_indexes_rev2.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [ ]:
historical_data = pd.read_csv(f'{stock_path}historical_data_complete_rev5.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.')

In [90]:
# Save modified DataFrame
historical_data_aux_1.to_csv(f'{stock_path}historical_data_complete_rev6.csv',
                    encoding='UTF-8',
                    sep=';',
                    decimal='.',
                    index=False)

In [59]:
# Import sql_password
load_dotenv(r'C:\Users\Pedro\OneDrive\Desktop\Ironhack\04. GitHub\stocks_project/password.env')
sql_password = os.getenv('sql_password')

In [60]:
# Set SQL configurations
user = "root"
password = sql_password
url_banco = "localhost"
nome_db = "stocks_project"
conn_str = f"mysql+pymysql://{user}:{password}@{url_banco}/{nome_db}"

In [61]:
# Create engine object
engine = db.create_engine(conn_str)
print(engine)

Engine(mysql+pymysql://root:***@localhost/stocks_project)

In [91]:
historical_data_aux_1.to_sql(name='historical_data', con=engine, if_exists='replace', index=False)

4913040